In [3]:
import pickle

import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_formats = ['svg']
%matplotlib inline

plt.rcParams['figure.figsize'] = (9, 6)
sns.set(context='notebook', style='whitegrid', font_scale=1.2)

In [58]:
with open('df.pickle','rb') as read_file:
    df = pickle.load(read_file)
    
df

,Date,O/U_open,O/U_close,team_abbrev,id,total,away,home,pace_v,pace_h,...,ts_per_h,threes_ar_h,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h
0,20071030,184.0,189.5,SAS,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,.567,.167,.218,72.7,50.0,38.5,1.1,6.3,100.0,115.5
1,20071030,214.5,212.0,GSW,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,.553,.122,.400,85.1,60.2,58.5,8.6,13.0,100.0,91.3
2,20071030,191.0,199.0,LAL,20071030LALakers,188,HOU,LAL,93.0,93.0,...,.542,.297,.419,77.1,57.0,67.6,10.7,7.4,100.0,99.9
3,20071031,190.0,191.0,TOR,20071031Toronto,203,PHI,TOR,90.9,90.9,...,.526,.207,.280,75.6,55.4,57.9,3.3,13.0,100.0,116.7
4,20071031,200.0,203.5,IND,20071031Indiana,229,WAS,IND,98.4,98.4,...,.463,.202,.455,70.2,50.0,41.7,5.5,9.5,100.0,109.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,TOR,20190602Toronto,213,GSW,TOR,100.0,100.0,...,.592,.415,.280,70.6,46.2,89.5,7.0,8.9,100.0,104.0
15011,20190605,214.0,209.5,GSW,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,.674,.463,.256,72.9,49.4,69.8,9.0,18.2,100.0,109.5
15012,20190607,216.0,215.0,GSW,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,.544,.372,.279,80.0,48.1,61.1,12.7,7.8,100.0,97.0
15013,20190610,212.0,217.0,TOR,20190610Toronto,211,GSW,TOR,94.3,94.3,...,.601,.512,.171,70.5,46.3,71.1,5.3,13.2,100.0,111.3
15014,20190613,211.0,211.5,GSW,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,.602,.402,.354,71.8,48.1,64.1,8.5,4.1,100.0,116.3

In [59]:
df['O/U1'] = df['total'] - df['O/U_open']
df['O/U2'] = df['total'] - df['O/U_close']

In [60]:
df

,Date,O/U_open,O/U_close,team_abbrev,id,total,away,home,pace_v,pace_h,...,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,O/U1,O/U2
0,20071030,184.0,189.5,SAS,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,.218,72.7,50.0,38.5,1.1,6.3,100.0,115.5,19.0,13.5
1,20071030,214.5,212.0,GSW,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,.400,85.1,60.2,58.5,8.6,13.0,100.0,91.3,-1.5,1.0
2,20071030,191.0,199.0,LAL,20071030LALakers,188,HOU,LAL,93.0,93.0,...,.419,77.1,57.0,67.6,10.7,7.4,100.0,99.9,-3.0,-11.0
3,20071031,190.0,191.0,TOR,20071031Toronto,203,PHI,TOR,90.9,90.9,...,.280,75.6,55.4,57.9,3.3,13.0,100.0,116.7,13.0,12.0
4,20071031,200.0,203.5,IND,20071031Indiana,229,WAS,IND,98.4,98.4,...,.455,70.2,50.0,41.7,5.5,9.5,100.0,109.5,29.0,25.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,TOR,20190602Toronto,213,GSW,TOR,100.0,100.0,...,.280,70.6,46.2,89.5,7.0,8.9,100.0,104.0,-3.0,-0.5
15011,20190605,214.0,209.5,GSW,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,.256,72.9,49.4,69.8,9.0,18.2,100.0,109.5,18.0,22.5
15012,20190607,216.0,215.0,GSW,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,.279,80.0,48.1,61.1,12.7,7.8,100.0,97.0,-19.0,-18.0
15013,20190610,212.0,217.0,TOR,20190610Toronto,211,GSW,TOR,94.3,94.3,...,.171,70.5,46.3,71.1,5.3,13.2,100.0,111.3,-1.0,-6.0
15014,20190613,211.0,211.5,GSW,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,.354,71.8,48.1,64.1,8.5,4.1,100.0,116.3,13.0,12.5

In [61]:
df['avg_eFg_per'] = (pd.to_numeric(df['eFg_v']) + pd.to_numeric(df['eFg_h']))/2

In [62]:
df[['eFg_h','eFg_v','avg_eFg_per']]

      eFg_h eFg_v  avg_eFg_per
0      .506  .538       0.5220
1      .455  .483       0.4690
2      .434  .500       0.4670
3      .535  .506       0.5205
4      .484  .394       0.4390
...     ...   ...          ...
15010  .431  .543       0.4870
15011  .462  .628       0.5450
15012  .500  .477       0.4885
15013  .494  .585       0.5395
15014  .556  .555       0.5555

[15015 rows x 3 columns]

## Simple Logistic Regression

Using average effective field goal percentage (eFg_per) of both teams versus the target.

In [19]:
from sklearn.model_selection import train_test_split

In [78]:
df_train, df_test = train_test_split(df,
                                     test_size=0.2, 
                                     random_state=42)

In [30]:
import statsmodels.api as sm
from sklearn.preprocessing import OneHotEncoder

In [32]:
mask = df_train['Over/Under_open'] != 'P'
df_train[mask]

,Date,O/U_open,O/U_close,team_abbrev,id,total,away,home,pace_v,pace_h,...,stl_per_h,blk_per_h,user_per_h,drtg_h,O/U1,O/U2,avg_ts_per,avg_eFg_per,Over/Under_open,Over/Under_close
2995,20091216,214.0,214.0,GSW,20091216GoldenState,194,SAS,GSW,97.9,97.9,...,7.1,7.8,100.0,92.9,-20.0,-20.0,0.565,0.4715,U,U
4832,20110302,214.0,212.0,WAS,20110302Washington,208,GSW,WAS,97.8,97.8,...,6.1,9.6,100.0,104.2,-6.0,-4.0,0.530,0.4460,U,U
1496,20081122,183.5,184.5,ORL,20081122Orlando,195,HOU,ORL,93.1,93.1,...,7.5,7.4,100.0,102.1,11.5,10.5,0.550,0.4875,O,O
1047,20080324,234.0,228.5,GSW,20080324GoldenState,242,LAL,GSW,100.0,100.0,...,5.4,9.5,100.0,107.7,8.0,13.5,0.549,0.5000,O,O
14159,20181219,220.0,214.0,"[CHA, CHO]",20181219Charlotte,209,CLE,CHO,92.8,92.8,...,8.6,9.0,100.0,118.5,-11.0,-5.0,0.548,0.5530,U,U
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,20110424,179.0,178.5,ATL,20110424Atlanta,173,ORL,ATL,91.0,91.0,...,8.8,5.0,100.0,96.7,-6.0,-5.5,0.463,0.4560,U,U
13418,20180316,205.0,201.0,ORL,20180316Orlando,175,BOS,ORL,95.6,95.6,...,7.3,10.2,100.0,86.8,-30.0,-26.0,0.488,0.4265,U,U
5390,20120111,187.0,183.5,"[NOH, NOP]",20120111NewOrleans,180,OKC,NOH,85.4,85.4,...,7.0,15.6,100.0,99.6,-7.0,-3.5,0.563,0.4915,U,U
860,20080229,194.0,193.5,HOU,20080229Houston,211,MEM,HOU,99.6,99.6,...,12.0,13.0,100.0,116.4,17.0,17.5,0.464,0.4985,O,O
7270,20130312,208.0,210.0,MIL,20130312Milwaukee,223,DAL,MIL,97.7,97.7,...,5.1,7.4,100.0,110.5,15.0,13.0,0.612,0.5475,O,O

In [79]:
cat_X = df_train.loc[:,['Over/Under_close']]

In [80]:
cat_X

      Over/Under_close
12225                O
1407                 U
760                  O
5186                 U
10836                O
...                ...
5333                 O
13784                U
5537                 O
884                  U
7467                 U

[11697 rows x 1 columns]

In [81]:
ohe = OneHotEncoder(drop='first', sparse=False)

ohe.fit(cat_X)

ohe_X = ohe.transform(cat_X)

columns = ohe.get_feature_names(['Over/Under_open'])

ohe_X_df = pd.DataFrame(ohe_X, columns=columns, index=cat_X.index)

ohe_X_df

       Over/Under_open_U
12225                0.0
1407                 1.0
760                  0.0
5186                 1.0
10836                0.0
...                  ...
5333                 0.0
13784                1.0
5537                 0.0
884                  1.0
7467                 1.0

[11697 rows x 1 columns]

In [87]:
cat_test_X = df_test.loc[:,['Over/Under_close']]

In [88]:
ohe = OneHotEncoder(drop='first', sparse=False)

ohe.fit(cat_test_X)

ohe_test_X = ohe.transform(cat_test_X)

columns = ohe.get_feature_names(['Over/Under_open'])

ohe_test_X_df = pd.DataFrame(ohe_test_X, columns=columns, index=cat_test_X.index)

ohe_test_X_df

       Over/Under_open_U
3946                 0.0
4213                 0.0
365                  1.0
4880                 0.0
10016                1.0
...                  ...
2322                 0.0
4230                 1.0
4088                 1.0
8988                 0.0
6637                 1.0

[2925 rows x 1 columns]

In [28]:
# This will help with plotting. Look up Pandas.Categorical for more methods ...
df_train.loc[:, 'Over/Under_open'] = df_train['Over/Under_open'].astype('category')

/Users/jseemayer/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [29]:
df_train['Over/Under_open']

2995     U
4832     U
1496     O
1047     O
14159    U
        ..
5191     U
13418    U
5390     U
860      O
7270     O
Name: Over/Under_open, Length: 12012, dtype: category
Categories (3, object): ['O', 'P', 'U']

In [82]:
# For this first example, we'll employ statsmodels
lm_1 = sm.Logit(ohe_X_df,  # with statsmodels, `y` comes first
                sm.add_constant(df_train[['avg_eFg_per']]))  # and then `x`
lm_1 = lm_1.fit()

Optimization terminated successfully.
         Current function value: 0.501392
         Iterations 6

In [83]:
lm_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:      Over/Under_open_U   No. Observations:                11697
Model:                          Logit   Df Residuals:                    11695
Method:                           MLE   Df Model:                            1
Date:                Wed, 03 Feb 2021   Pseudo R-squ.:                  0.2766
Time:                        11:50:20   Log-Likelihood:                -5864.8
converged:                       True   LL-Null:                       -8107.3
Covariance Type:            nonrobust   LLR p-value:                     0.000
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
const          17.8312      0.346     51.496      0.000      17.153      18.510
avg_eFg_per   -35.3183      0.685    -51.546      0.000     -36.661     -33.975
===============================================================================
"""

In [84]:
# Let's go down the sklearn path, since this is better used in model pipelines
from sklearn.linear_model import LogisticRegression

In [85]:
# By default, LogisticRegression will fit an intercept, as we did with statsmodels
lm_1 = LogisticRegression(solver='newton-cg',  # For comparison, use the same solver as statsmodels default
                          C=100000)  # No regularization

lm_1.fit(df_train[['avg_eFg_per']], ohe_X_df)

/Users/jseemayer/opt/anaconda3/envs/metis/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(C=100000, solver='newton-cg')

In [86]:
# We can see that the coefficient in question matches the one from statsmodels
print('intercept: ', round(lm_1.intercept_[0], 4))
print('price_per_sqft coef: ', round(lm_1.coef_[0][0], 4))

intercept:  17.8311
price_per_sqft coef:  -35.3182

In [89]:
df_eval = df_test.copy()
df_eval['pred'] = lm_1.predict(df_test[['avg_eFg_per']])
df_eval.loc[:, 'pred'] = df_eval['pred'].astype('category')
df_eval['correct_pred'] = df_eval['pred'] == ohe_test_X_df

<ipython-input-89-65201c9cc6c5>:4: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df_eval['correct_pred'] = df_eval['pred'] == ohe_test_X_df

ValueError: Wrong number of items passed 2926, placement implies 1