In [1]:
import os
import glob

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Usable Code

In [2]:
!pwd

/Users/jseemayer/Documents/Me/Metis/NBA-Over-Under-Predictor

In [3]:
files = sorted([f for f in os.listdir('csv') if '.csv' in f])

In [4]:
files

['07-08.csv',
 '08-09.csv',
 '09-10.csv',
 '10-11.csv',
 '11-12.csv',
 '12-13.csv',
 '13-14.csv',
 '14-15.csv',
 '15-16.csv',
 '16-17.csv',
 '17-18.csv',
 '18-19.csv']

In [5]:
cd csv

/Users/jseemayer/Documents/Me/Metis/NBA-Over-Under-Predictor/csv

In [239]:
def clean_odds(file):
    '''
    cleans csv file and returns dataframe object that contains the over/under lines (target)
    '''
    df = pd.read_csv(file)
    df = df.iloc[:,:13] #some files contained unnamed extra rows
    df.dropna(axis=0,inplace=True) #and others columns
    
    #makes a list of game_id's equivalent to how many games were played that season
    mylist = []
    for i in range(1, int(df.shape[0]/2 + 1)):
        mylist.append(i)
        mylist.append(i)
    df['game_id'] = mylist #maps game_id's to games (spread across 2 rows)
    
    df = df.merge(df, on='game_id', suffixes=(None,'_2')) #gets games to be in one row (creates 4/game)
    df = df[1::4] #gets correct mapping
    df.reset_index(drop=True, inplace=True)
    
    #make dates include year so we can join with another dataset later
    df['Date'] = df['Date'].astype('int')
    df['Date'] = df['Date'].astype('str')
    #df['Date'] = df['Date'].str.strip('.0')
    dates = []
    for date in df['Date']:
        if int(date) > 1000:
            date = '20'+file[:2]+date #GET FILENAMES AND USE HERE
            dates.append(date)
        else:
            date = '20'+file[3:5]+'0'+date #GET FILENAMES AND USE HERE
            dates.append(date)
    df['Date'] = dates
    
    #take out pick-em's and replace with zero for later transformation
    df['Open'].replace(['PK','pk'],'0',inplace=True)
    df['Close'].replace(['PK','pk'],'0',inplace=True)
    df['Open_2'].replace(['PK','pk'],'0',inplace=True)
    df['Close_2'].replace(['PK','pk'],'0',inplace=True)
    df.replace('197.5u10','197.5',inplace=True)
    #map strings as floats for comparison
    df['Open'] = df['Open'].astype('float')
    df['Open_2'] = df['Open_2'].astype('float')
    df['Close'] = df['Close'].astype('float')
    df['Close_2'] = df['Close_2'].astype('float')
    #get correct over/under line at opening and closing of sportsbook
    df['O/U_open'] = np.where(df['Open'] > df['Open_2'],df['Open'],df['Open_2'])
    df['O/U_close'] = np.where(df['Close'] > df['Close_2'],df['Close'],df['Close_2'])
    
    #rename columns to correct home/visitor 
    df['Visitor'] = df['Team']
    df['Home'] = df['Team_2']
    
    #drop unneeded info
    df = df[['Date','Home','Visitor','O/U_open','O/U_close']]
    return df

Use this clean_odds function to generate our dataset to combine with our scraped game data.

In [240]:
totals = pd.concat([clean_odds(f) for f in files])

In [241]:
totals

          Date         Home       Visitor  O/U_open  O/U_close
0     20071030   SanAntonio      Portland     184.0      189.5
1     20071030  GoldenState          Utah     214.5      212.0
2     20071030     LALakers       Houston     191.0      199.0
3     20071031      Toronto  Philadelphia     190.0      191.0
4     20071031      Indiana    Washington     200.0      203.5
...        ...          ...           ...       ...        ...
1307  20190602      Toronto   GoldenState     216.0      213.5
1308  20190605  GoldenState       Toronto     214.0      209.5
1309  20190607  GoldenState       Toronto     216.0      215.0
1310  20190610      Toronto   GoldenState     212.0      217.0
1311  20190613  GoldenState       Toronto     211.0      211.5

[15520 rows x 5 columns]

## Scratch Work

In [195]:
df = pd.read_csv(files[2])

In [196]:
df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1027,503,V,Washington,21,35,21,25,102,205,210,320.0,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1027,504,H,Dallas,21,29,24,17,91,8.5,8.5,-400.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1027,505,V,Houston,23,18,15,31,87,187.5,188,400.0,93.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2624 non-null   int64
 1   Rot          2624 non-null   int64
 2   VH           2624 non-null   object
 3   Team         2624 non-null   object
 4   1st          2624 non-null   int64
 5   2nd          2624 non-null   int64
 6   3rd          2624 non-null   int64
 7   4th          2624 non-null   int64
 8   Final        2624 non-null   int64
 9   Open         2624 non-null   object
 10  Close        2624 non-null   object
 11  ML           2624 non-null   float64
 12  2H           2624 non-null   object
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
dtypes: float64(8), int64(7), object(5)
memory usage: 410.1+ KB

In [198]:
df = df.iloc[:,:13]

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   int64
 1   Rot     2624 non-null   int64
 2   VH      2624 non-null   object
 3   Team    2624 non-null   object
 4   1st     2624 non-null   int64
 5   2nd     2624 non-null   int64
 6   3rd     2624 non-null   int64
 7   4th     2624 non-null   int64
 8   Final   2624 non-null   int64
 9   Open    2624 non-null   object
 10  Close   2624 non-null   object
 11  ML      2624 non-null   float64
 12  2H      2624 non-null   object
dtypes: float64(1), int64(7), object(5)
memory usage: 266.6+ KB

In [200]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 101)

In [201]:
df.shape[0]

2624

In [202]:
mylist = []
for i in range(1, int(df.shape[0]/2 + 1)):
    mylist.append(i)
    mylist.append(i)
print(mylist[0],mylist[-1])

1 1312

In [203]:
len(range(1,int(df.shape[0]/2 + 1)))

1312

In [204]:
df['game_id'] = mylist

In [205]:
df.dropna(axis=0,inplace=True)

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2624 entries, 0 to 2623
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2624 non-null   int64
 1   Rot      2624 non-null   int64
 2   VH       2624 non-null   object
 3   Team     2624 non-null   object
 4   1st      2624 non-null   int64
 5   2nd      2624 non-null   int64
 6   3rd      2624 non-null   int64
 7   4th      2624 non-null   int64
 8   Final    2624 non-null   int64
 9   Open     2624 non-null   object
 10  Close    2624 non-null   object
 11  ML       2624 non-null   float64
 12  2H       2624 non-null   object
 13  game_id  2624 non-null   int64
dtypes: float64(1), int64(8), object(5)
memory usage: 307.5+ KB

In [207]:
df = df.merge(df, on='game_id', suffixes=(None,'_2'))

In [208]:
df

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,game_id,Date_2,Rot_2,VH_2,Team_2,1st_2,2nd_2,3rd_2,4th_2,Final_2,Open_2,Close_2,ML_2,2H_2
0,1027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5
1,1027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5
2,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5,1,1027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5
3,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5
4,1027,503,V,Washington,21,35,21,25,102,205,210,320.0,107,2,1027,503,V,Washington,21,35,21,25,102,205,210,320.0,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5243,615,712,H,LALakers,28,23,25,13,89,6.5,6,-250.0,95.5,1311,615,712,H,LALakers,28,23,25,13,89,6.5,6,-250.0,95.5
5244,617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5,1312,617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5
5245,617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7
5246,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7,1312,617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5
5247,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7

In [209]:
df = df[1::4]
df.reset_index(drop=True, inplace=True)

In [210]:
df

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,game_id,Date_2,Rot_2,VH_2,Team_2,1st_2,2nd_2,3rd_2,4th_2,Final_2,Open_2,Close_2,ML_2,2H_2
0,1027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5
1,1027,503,V,Washington,21,35,21,25,102,205,210,320.0,107,2,1027,504,H,Dallas,21,29,24,17,91,8.5,8.5,-400.0,8
2,1027,505,V,Houston,23,18,15,31,87,187.5,188,400.0,93.5,3,1027,506,H,Portland,23,31,21,21,96,10,9,-500.0,1.5
3,1027,507,V,LAClippers,22,27,26,17,92,208,202,625.0,102,4,1027,508,H,LALakers,32,27,17,23,99,10,12,-850.0,3.5
4,1028,701,V,Philadelphia,27,20,22,37,106,194,194.5,450.0,0.5,5,1028,702,H,Orlando,29,41,30,20,120,8,10,-600.0,96.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,608,705,V,LALakers,26,26,15,24,91,192.5,191,125.0,96,1308,608,706,H,Boston,17,23,21,23,84,2,2.5,-145.0,4
1308,610,707,V,LALakers,16,29,17,27,89,191,190.5,160.0,95.5,1309,610,708,H,Boston,19,23,18,36,96,3,4,-180.0,4
1309,613,709,V,LALakers,20,19,26,21,86,189,189.5,110.0,1.5,1310,613,710,H,Boston,22,23,28,19,92,3.5,2,-130.0,95.5
1310,615,711,V,Boston,18,13,20,16,67,187,190.5,210.0,2.5,1311,615,712,H,LALakers,28,23,25,13,89,6.5,6,-250.0,95.5
1311,617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7

In [211]:
#sanity check that every game only appears once
df['game_id']

0          1
1          2
2          3
3          4
4          5
        ...
1307    1308
1308    1309
1309    1310
1310    1311
1311    1312
Name: game_id, Length: 1312, dtype: int64

In [212]:
df['Date'] = df['Date'].astype('int')
df['Date']

<ipython-input-212-3233d0761aed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].astype('int')

0       1027
1       1027
2       1027
3       1027
4       1028
        ...
1307     608
1308     610
1309     613
1310     615
1311     617
Name: Date, Length: 1312, dtype: int64

In [213]:
df['Date'] = df['Date'].astype('str')
df['Date']

<ipython-input-213-0ac9846a9dad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].astype('str')

0       1027
1       1027
2       1027
3       1027
4       1028
        ...
1307     608
1308     610
1309     613
1310     615
1311     617
Name: Date, Length: 1312, dtype: object

In [214]:
df['Date'] = df['Date'].str.strip('.0')

<ipython-input-214-ae0753d9392a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].str.strip('.0')

In [215]:
df['Date'].head

<bound method NDFrame.head of 0       1027
1       1027
2       1027
3       1027
4       1028
        ...
1307     608
1308      61
1309     613
1310     615
1311     617
Name: Date, Length: 1312, dtype: object>

In [216]:
dates = []
for date in df['Date']:
    if int(date) > 1000:
        date = '20'+files[2][:2]+date
        dates.append(date)
    else:
        date = '20'+files[2][3:5]+'0'+date
        dates.append(date)
df['Date'] = dates

<ipython-input-216-8ae930a68a13>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = dates

In [217]:
df['Date']

0       20091027
1       20091027
2       20091027
3       20091027
4       20091028
          ...
1307    20100608
1308     2010061
1309    20100613
1310    20100615
1311    20100617
Name: Date, Length: 1312, dtype: object

In [218]:
df

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,game_id,Date_2,Rot_2,VH_2,Team_2,1st_2,2nd_2,3rd_2,4th_2,Final_2,Open_2,Close_2,ML_2,2H_2
0,20091027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5
1,20091027,503,V,Washington,21,35,21,25,102,205,210,320.0,107,2,1027,504,H,Dallas,21,29,24,17,91,8.5,8.5,-400.0,8
2,20091027,505,V,Houston,23,18,15,31,87,187.5,188,400.0,93.5,3,1027,506,H,Portland,23,31,21,21,96,10,9,-500.0,1.5
3,20091027,507,V,LAClippers,22,27,26,17,92,208,202,625.0,102,4,1027,508,H,LALakers,32,27,17,23,99,10,12,-850.0,3.5
4,20091028,701,V,Philadelphia,27,20,22,37,106,194,194.5,450.0,0.5,5,1028,702,H,Orlando,29,41,30,20,120,8,10,-600.0,96.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,20100608,705,V,LALakers,26,26,15,24,91,192.5,191,125.0,96,1308,608,706,H,Boston,17,23,21,23,84,2,2.5,-145.0,4
1308,2010061,707,V,LALakers,16,29,17,27,89,191,190.5,160.0,95.5,1309,610,708,H,Boston,19,23,18,36,96,3,4,-180.0,4
1309,20100613,709,V,LALakers,20,19,26,21,86,189,189.5,110.0,1.5,1310,613,710,H,Boston,22,23,28,19,92,3.5,2,-130.0,95.5
1310,20100615,711,V,Boston,18,13,20,16,67,187,190.5,210.0,2.5,1311,615,712,H,LALakers,28,23,25,13,89,6.5,6,-250.0,95.5
1311,20100617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7

In [219]:
df['Visitor'] = df['Team']
df['Home'] = df['Team_2']
df

<ipython-input-219-1744266c9047>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Visitor'] = df['Team']
<ipython-input-219-1744266c9047>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Home'] = df['Team_2']

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,game_id,Date_2,Rot_2,VH_2,Team_2,1st_2,2nd_2,3rd_2,4th_2,Final_2,Open_2,Close_2,ML_2,2H_2,Visitor,Home
0,20091027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5,-200.0,4.5,Boston,Cleveland
1,20091027,503,V,Washington,21,35,21,25,102,205,210,320.0,107,2,1027,504,H,Dallas,21,29,24,17,91,8.5,8.5,-400.0,8,Washington,Dallas
2,20091027,505,V,Houston,23,18,15,31,87,187.5,188,400.0,93.5,3,1027,506,H,Portland,23,31,21,21,96,10,9,-500.0,1.5,Houston,Portland
3,20091027,507,V,LAClippers,22,27,26,17,92,208,202,625.0,102,4,1027,508,H,LALakers,32,27,17,23,99,10,12,-850.0,3.5,LAClippers,LALakers
4,20091028,701,V,Philadelphia,27,20,22,37,106,194,194.5,450.0,0.5,5,1028,702,H,Orlando,29,41,30,20,120,8,10,-600.0,96.5,Philadelphia,Orlando
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,20100608,705,V,LALakers,26,26,15,24,91,192.5,191,125.0,96,1308,608,706,H,Boston,17,23,21,23,84,2,2.5,-145.0,4,LALakers,Boston
1308,2010061,707,V,LALakers,16,29,17,27,89,191,190.5,160.0,95.5,1309,610,708,H,Boston,19,23,18,36,96,3,4,-180.0,4,LALakers,Boston
1309,20100613,709,V,LALakers,20,19,26,21,86,189,189.5,110.0,1.5,1310,613,710,H,Boston,22,23,28,19,92,3.5,2,-130.0,95.5,LALakers,Boston
1310,20100615,711,V,Boston,18,13,20,16,67,187,190.5,210.0,2.5,1311,615,712,H,LALakers,28,23,25,13,89,6.5,6,-250.0,95.5,Boston,LALakers
1311,20100617,713,V,Boston,23,17,17,22,79,188,186.5,230.0,92.5,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7,Boston,LALakers

In [220]:
df['Open'].replace('pk','0',inplace=True)
df['Close'].replace('pk','0',inplace=True)
df['Open_2'].replace('pk','0',inplace=True)
df['Close_2'].replace('pk','0',inplace=True)
df.replace('197.5u10','197.5',inplace=True)

/Users/jseemayer/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/series.py:4479: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
/Users/jseemayer/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:4521: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [221]:
mask = df['Open'].values == 'pk'
df[mask]

Empty DataFrame
Columns: [Date, Rot, VH, Team, 1st, 2nd, 3rd, 4th, Final, Open, Close, ML, 2H, game_id, Date_2, Rot_2, VH_2, Team_2, 1st_2, 2nd_2, 3rd_2, 4th_2, Final_2, Open_2, Close_2, ML_2, 2H_2, Visitor, Home]
Index: []

In [222]:
df['Open'] = df['Open'].astype('float')
df['Open_2'] = df['Open_2'].astype('float')
df['Close'] = df['Close'].astype('float')
df['Close_2'] = df['Close_2'].astype('float')

<ipython-input-222-d88ed8aac0b8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Open'] = df['Open'].astype('float')
<ipython-input-222-d88ed8aac0b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Open_2'] = df['Open_2'].astype('float')
<ipython-input-222-d88ed8aac0b8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Close'] = df['Close'].astype('float')
<ipython-input-222-d88ed8aac0b8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Close_2'] = df['Close_2'].astype('float')

In [223]:
df['O/U_open'] = np.where(df['Open'] > df['Open_2'],df['Open'],df['Open_2'])
df

<ipython-input-223-84833d6ad71f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['O/U_open'] = np.where(df['Open'] > df['Open_2'],df['Open'],df['Open_2'])

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,game_id,Date_2,Rot_2,VH_2,Team_2,1st_2,2nd_2,3rd_2,4th_2,Final_2,Open_2,Close_2,ML_2,2H_2,Visitor,Home,O/U_open
0,20091027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5.0,-200.0,4.5,Boston,Cleveland,187.5
1,20091027,503,V,Washington,21,35,21,25,102,205.0,210.0,320.0,107,2,1027,504,H,Dallas,21,29,24,17,91,8.5,8.5,-400.0,8,Washington,Dallas,205.0
2,20091027,505,V,Houston,23,18,15,31,87,187.5,188.0,400.0,93.5,3,1027,506,H,Portland,23,31,21,21,96,10.0,9.0,-500.0,1.5,Houston,Portland,187.5
3,20091027,507,V,LAClippers,22,27,26,17,92,208.0,202.0,625.0,102,4,1027,508,H,LALakers,32,27,17,23,99,10.0,12.0,-850.0,3.5,LAClippers,LALakers,208.0
4,20091028,701,V,Philadelphia,27,20,22,37,106,194.0,194.5,450.0,0.5,5,1028,702,H,Orlando,29,41,30,20,120,8.0,10.0,-600.0,96.5,Philadelphia,Orlando,194.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,20100608,705,V,LALakers,26,26,15,24,91,192.5,191.0,125.0,96,1308,608,706,H,Boston,17,23,21,23,84,2.0,2.5,-145.0,4,LALakers,Boston,192.5
1308,2010061,707,V,LALakers,16,29,17,27,89,191.0,190.5,160.0,95.5,1309,610,708,H,Boston,19,23,18,36,96,3.0,4.0,-180.0,4,LALakers,Boston,191.0
1309,20100613,709,V,LALakers,20,19,26,21,86,189.0,189.5,110.0,1.5,1310,613,710,H,Boston,22,23,28,19,92,3.5,2.0,-130.0,95.5,LALakers,Boston,189.0
1310,20100615,711,V,Boston,18,13,20,16,67,187.0,190.5,210.0,2.5,1311,615,712,H,LALakers,28,23,25,13,89,6.5,6.0,-250.0,95.5,Boston,LALakers,187.0
1311,20100617,713,V,Boston,23,17,17,22,79,188.0,186.5,230.0,92.5,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7,Boston,LALakers,188.0

In [224]:
df['O/U_close'] = np.where(df['Close'] > df['Close_2'],df['Close'],df['Close_2'])
df

<ipython-input-224-f88eaef92b17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['O/U_close'] = np.where(df['Close'] > df['Close_2'],df['Close'],df['Close_2'])

,Date,Rot,VH,Team,1st,2nd,3rd,4th,Final,Open,Close,ML,2H,game_id,Date_2,Rot_2,VH_2,Team_2,1st_2,2nd_2,3rd_2,4th_2,Final_2,Open_2,Close_2,ML_2,2H_2,Visitor,Home,O/U_open,O/U_close
0,20091027,501,V,Boston,21,30,21,23,95,187.5,183.5,170.0,90.5,1,1027,502,H,Cleveland,28,17,20,24,89,4.5,5.0,-200.0,4.5,Boston,Cleveland,187.5,183.5
1,20091027,503,V,Washington,21,35,21,25,102,205.0,210.0,320.0,107,2,1027,504,H,Dallas,21,29,24,17,91,8.5,8.5,-400.0,8,Washington,Dallas,205.0,210.0
2,20091027,505,V,Houston,23,18,15,31,87,187.5,188.0,400.0,93.5,3,1027,506,H,Portland,23,31,21,21,96,10.0,9.0,-500.0,1.5,Houston,Portland,187.5,188.0
3,20091027,507,V,LAClippers,22,27,26,17,92,208.0,202.0,625.0,102,4,1027,508,H,LALakers,32,27,17,23,99,10.0,12.0,-850.0,3.5,LAClippers,LALakers,208.0,202.0
4,20091028,701,V,Philadelphia,27,20,22,37,106,194.0,194.5,450.0,0.5,5,1028,702,H,Orlando,29,41,30,20,120,8.0,10.0,-600.0,96.5,Philadelphia,Orlando,194.0,194.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,20100608,705,V,LALakers,26,26,15,24,91,192.5,191.0,125.0,96,1308,608,706,H,Boston,17,23,21,23,84,2.0,2.5,-145.0,4,LALakers,Boston,192.5,191.0
1308,2010061,707,V,LALakers,16,29,17,27,89,191.0,190.5,160.0,95.5,1309,610,708,H,Boston,19,23,18,36,96,3.0,4.0,-180.0,4,LALakers,Boston,191.0,190.5
1309,20100613,709,V,LALakers,20,19,26,21,86,189.0,189.5,110.0,1.5,1310,613,710,H,Boston,22,23,28,19,92,3.5,2.0,-130.0,95.5,LALakers,Boston,189.0,189.5
1310,20100615,711,V,Boston,18,13,20,16,67,187.0,190.5,210.0,2.5,1311,615,712,H,LALakers,28,23,25,13,89,6.5,6.0,-250.0,95.5,Boston,LALakers,187.0,190.5
1311,20100617,713,V,Boston,23,17,17,22,79,188.0,186.5,230.0,92.5,1312,617,714,H,LALakers,14,20,19,30,83,6.5,6.5,-270.0,7,Boston,LALakers,188.0,186.5

Sanity check that opening and closing lines operations worked successfully.
So long as numbers are around 200, we know we are ok.

In [225]:
df['O/U_open'].min()

172.0

In [226]:
df['O/U_close'].min()

171.5

In [227]:
df = df[['Date','Home','Visitor','O/U_open','O/U_close']]
df

          Date       Home       Visitor  O/U_open  O/U_close
0     20091027  Cleveland        Boston     187.5      183.5
1     20091027     Dallas    Washington     205.0      210.0
2     20091027   Portland       Houston     187.5      188.0
3     20091027   LALakers    LAClippers     208.0      202.0
4     20091028    Orlando  Philadelphia     194.0      194.5
...        ...        ...           ...       ...        ...
1307  20100608     Boston      LALakers     192.5      191.0
1308   2010061     Boston      LALakers     191.0      190.5
1309  20100613     Boston      LALakers     189.0      189.5
1310  20100615   LALakers        Boston     187.0      190.5
1311  20100617   LALakers        Boston     188.0      186.5

[1312 rows x 5 columns]

## Scratch Work Graveyard

In [ ]:
#tried self-merging on game_id, but this is only applicable if in different columns
#df1 = df1.merge(
#            right=df1[opp_pull_cols],
#            left_on=["game_id", "team"],
#            right_on=["game_id", "opp"],
#            suffixes=[None, "_opp"],
#        )

In [ ]:
#tried to use drop_duplicates method but can only keep first or last
#df.drop_duplicates(subset=['game_id'], keep='second')