In [1]:
import os
import pickle

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Usable Code

In [2]:
!pwd

/Users/jseemayer/Documents/Me/Metis/NBA-Over-Under-Predictor

In [3]:
files = sorted([f for f in os.listdir('csv') if '.csv' in f])

In [4]:
files

['07-08.csv',
 '08-09.csv',
 '09-10.csv',
 '10-11.csv',
 '11-12.csv',
 '12-13.csv',
 '13-14.csv',
 '14-15.csv',
 '15-16.csv',
 '16-17.csv',
 '17-18.csv',
 '18-19.csv']

In [170]:
def clean_odds(file):
    '''
    cleans csv file and returns dataframe object that contains the over/under lines (target)
    '''
    df = pd.read_csv(file)
    df = df.iloc[:,:13] #some files contained unnamed extra rows
    df.dropna(axis=0,inplace=True) #and others columns
    
    #makes a list of game_id's equivalent to how many games were played that season
    mylist = []
    for i in range(1, int(df.shape[0]/2 + 1)):
        mylist.append(i)
        mylist.append(i)
    df['game_id'] = mylist #maps game_id's to games (spread across 2 rows)
    
    df = df.merge(df, on='game_id', suffixes=(None,'_2')) #gets games to be in one row (creates 4/game)
    df = df[1::4] #gets correct mapping
    df.reset_index(drop=True, inplace=True)
    
    #make dates include year so we can join with another dataset later
    df['Date'] = df['Date'].astype('int')
    df['Date'] = df['Date'].astype('str')
    #df['Date'] = df['Date'].str.strip('.0')
    dates = []
    for date in df['Date']:
        if int(date) > 1000:
            date = '20'+file[:2]+date #GET FILENAMES AND USE HERE
            dates.append(date)
        else:
            date = '20'+file[3:5]+'0'+date #GET FILENAMES AND USE HERE
            dates.append(date)
    df['Date'] = dates
    
    #take out pick-em's and replace with zero for later transformation
    df['Open'].replace(['PK','pk'],'0',inplace=True)
    df['Close'].replace(['PK','pk'],'0',inplace=True)
    df['Open_2'].replace(['PK','pk'],'0',inplace=True)
    df['Close_2'].replace(['PK','pk'],'0',inplace=True)
    df.replace('197.5u10','197.5',inplace=True) #one unique occurrence
    #map strings as floats for comparison
    df['Open'] = df['Open'].astype('float')
    df['Open_2'] = df['Open_2'].astype('float')
    df['Close'] = df['Close'].astype('float')
    df['Close_2'] = df['Close_2'].astype('float')
    #get correct over/under line at opening and closing of sportsbook
    df['O/U_open'] = np.where(df['Open'] > df['Open_2'],df['Open'],df['Open_2'])
    df['O/U_close'] = np.where(df['Close'] > df['Close_2'],df['Close'],df['Close_2'])
    
    #rename columns to correct home/visitor 
    df['Visitor'] = df['Team']
    df['Home'] = df['Team_2']
    
    #add season column
    df['Season'] = file[:2] + file[3:5]
    
    #drop unneeded info
    df = df[['Date','Home','Visitor','O/U_open','O/U_close','Season']]
    return df

Use this clean_odds function to generate our dataset to combine with our scraped game data.

In [165]:
for file in files:
    print(file[:2]+file[3:5])

0708
0809
0910
1011
1112
1213
1314
1415
1516
1617
1718
1819

In [171]:
cd csv

[Errno 2] No such file or directory: 'csv'
/Users/jseemayer/Documents/Me/Metis/NBA-Over-Under-Predictor/csv

In [172]:
totals = pd.concat([clean_odds(f) for f in files])

In [173]:
totals

          Date         Home       Visitor  O/U_open  O/U_close Season
0     20071030   SanAntonio      Portland     184.0      189.5   0708
1     20071030  GoldenState          Utah     214.5      212.0   0708
2     20071030     LALakers       Houston     191.0      199.0   0708
3     20071031      Toronto  Philadelphia     190.0      191.0   0708
4     20071031      Indiana    Washington     200.0      203.5   0708
...        ...          ...           ...       ...        ...    ...
1307  20190602      Toronto   GoldenState     216.0      213.5   1819
1308  20190605  GoldenState       Toronto     214.0      209.5   1819
1309  20190607  GoldenState       Toronto     216.0      215.0   1819
1310  20190610      Toronto   GoldenState     212.0      217.0   1819
1311  20190613  GoldenState       Toronto     211.0      211.5   1819

[15520 rows x 6 columns]

In [174]:
totals.reset_index(drop=True,inplace=True)
totals

           Date         Home       Visitor  O/U_open  O/U_close Season
0      20071030   SanAntonio      Portland     184.0      189.5   0708
1      20071030  GoldenState          Utah     214.5      212.0   0708
2      20071030     LALakers       Houston     191.0      199.0   0708
3      20071031      Toronto  Philadelphia     190.0      191.0   0708
4      20071031      Indiana    Washington     200.0      203.5   0708
...         ...          ...           ...       ...        ...    ...
15515  20190602      Toronto   GoldenState     216.0      213.5   1819
15516  20190605  GoldenState       Toronto     214.0      209.5   1819
15517  20190607  GoldenState       Toronto     216.0      215.0   1819
15518  20190610      Toronto   GoldenState     212.0      217.0   1819
15519  20190613  GoldenState       Toronto     211.0      211.5   1819

[15520 rows x 6 columns]

Let's pickle this initial processing of the csv's and subsequent DataFrame. We can always comeback to this if we need it.

In [175]:
with open('lines.pickle', 'wb') as to_write:
    pickle.dump(totals, to_write)

In [14]:
pwd

'/Users/jseemayer/Documents/Me/Metis/NBA-Over-Under-Predictor/csv'

In [15]:
cd ..

/Users/jseemayer/Documents/Me/Metis/NBA-Over-Under-Predictor

In [16]:
with open('game_df.pickle','rb') as read_file:
    game_df = pickle.load(read_file)
    
game_df

,game_id,total,away,home,pace_v,pace_h,eFg_v,eFg_h,tov_v,tov_h,...,ts_per_h,threes_ar_h,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h
0,200710300SAS,203,POR,SAS,91.8,91.8,.538,.506,15.8,7.5,...,.538,.276,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7
1,200710300GSW,213,UTA,GSW,105.1,105.1,.483,.455,15.2,17.6,...,.512,.299,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3
2,200710300LAL,188,HOU,LAL,93.0,93.0,.500,.434,17.0,11.1,...,.485,.105,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1
3,200710310IND,229,WAS,IND,98.4,98.4,.394,.484,13.2,13.6,...,.552,.315,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2
4,200710310ORL,185,MIL,ORL,88.1,88.1,.402,.521,12.6,10.2,...,.577,.301,.479,64.7,46.7,46.9,2.3,12.9,100.0,94.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15516,201906020TOR,213,GSW,TOR,100.0,100.0,.543,.431,14.0,12.5,...,.493,.404,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0
15517,201906050GSW,232,TOR,GSW,99.6,99.6,.628,.462,13.3,11.8,...,.523,.396,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5
15518,201906070GSW,197,TOR,GSW,94.8,94.8,.477,.500,8.5,16.3,...,.527,.346,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7
15519,201906100TOR,211,GSW,TOR,94.3,94.3,.585,.494,14.5,11.8,...,.542,.376,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4
15520,201906130GSW,224,TOR,GSW,94.6,94.6,.555,.556,11.2,14.7,...,.590,.388,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5

In [19]:
team_abbrev = game_df['home'].unique()
team_abbrev

array(['SAS', 'GSW', 'LAL', 'IND', 'ORL', 'TOR', 'NJN', 'CLE', 'MEM',
       'NOH', 'DEN', 'MIA', 'UTA', 'SEA', 'CHA', 'ATL', 'BOS', 'MIN',
       'CHI', 'LAC', 'PHO', 'PHI', 'WAS', 'DAL', 'HOU', 'MIL', 'NYK',
       'DET', 'SAC', 'POR', 'OKC', 'BRK', 'NOP', 'CHO'], dtype=object)

In [20]:
len(team_abbrev)

34

In [21]:
totals['Home'].unique()

array(['SanAntonio', 'GoldenState', 'LALakers', 'Toronto', 'Indiana',
       'Orlando', 'NewJersey', 'Cleveland', 'Memphis', 'NewOrleans',
       'Denver', 'Miami', 'Utah', 'Seattle', 'Charlotte', 'Atlanta',
       'Boston', 'Minnesota', 'Chicago', 'Phoenix', 'LAClippers',
       'Philadelphia', 'Washington', 'Milwaukee', 'Houston', 'Dallas',
       'NewYork', 'Detroit', 'Sacramento', 'Portland', 'OklahomaCity',
       'Brooklyn'], dtype=object)

In [22]:
team_dict = {
    'SAS': 'SanAntonio',
    'GSW': 'GoldenState',
    'LAL': 'LALakers',
    'TOR': 'Toronto',
    'IND': 'Indiana',
    'ORL': 'Orlando',
    'NJN': 'NewJersey',
    'CLE': 'Cleveland',
    'MEM': 'Memphis',
    'NOH': 'NewOrleans',
    'NOP': 'NewOrleans',
    'DEN': 'Denver',
    'MIA': 'Miami',
    'UTA': 'Utah',
    'SEA': 'Seattle',
    'CHA': 'Charlotte',
    'CHO': 'Charlotte',
    'ATL': 'Atlanta',
    'BOS': 'Boston',
    'MIN': 'Minnesota',
    'CHI': 'Chicago',
    'PHO': 'Phoenix',
    'LAC': 'LAClippers',
    'PHI': 'Philadelphia',
    'WAS': 'Washington',
    'MIL': 'Milwaukee',
    'HOU': 'Houston',
    'DAL': 'Dallas',
    'NYK': 'NewYork',
    'DET': 'Detroit',
    'SAC': 'Sacramento',
    'POR': 'Portland',
    'OKC': 'OklahomaCity',
    'BRK': 'Brooklyn',
}

In [23]:
game_df['home'].map(team_dict)

0         SanAntonio
1        GoldenState
2           LALakers
3            Indiana
4            Orlando
            ...
15516        Toronto
15517    GoldenState
15518    GoldenState
15519        Toronto
15520    GoldenState
Name: home, Length: 15521, dtype: object

In [24]:
game_df['home_team'] = game_df['home'].map(team_dict)

In [25]:
game_df

,game_id,total,away,home,pace_v,pace_h,eFg_v,eFg_h,tov_v,tov_h,...,threes_ar_h,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,home_team
0,200710300SAS,203,POR,SAS,91.8,91.8,.538,.506,15.8,7.5,...,.276,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7,SanAntonio
1,200710300GSW,213,UTA,GSW,105.1,105.1,.483,.455,15.2,17.6,...,.299,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3,GoldenState
2,200710300LAL,188,HOU,LAL,93.0,93.0,.500,.434,17.0,11.1,...,.105,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1,LALakers
3,200710310IND,229,WAS,IND,98.4,98.4,.394,.484,13.2,13.6,...,.315,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2,Indiana
4,200710310ORL,185,MIL,ORL,88.1,88.1,.402,.521,12.6,10.2,...,.301,.479,64.7,46.7,46.9,2.3,12.9,100.0,94.2,Orlando
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15516,201906020TOR,213,GSW,TOR,100.0,100.0,.543,.431,14.0,12.5,...,.404,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0,Toronto
15517,201906050GSW,232,TOR,GSW,99.6,99.6,.628,.462,13.3,11.8,...,.396,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5,GoldenState
15518,201906070GSW,197,TOR,GSW,94.8,94.8,.477,.500,8.5,16.3,...,.346,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7,GoldenState
15519,201906100TOR,211,GSW,TOR,94.3,94.3,.585,.494,14.5,11.8,...,.376,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4,Toronto
15520,201906130GSW,224,TOR,GSW,94.6,94.6,.555,.556,11.2,14.7,...,.388,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5,GoldenState

In [26]:
game_df['game_date'] = game_df['game_id'].apply(lambda x: x[:8])

In [27]:
game_df

,game_id,total,away,home,pace_v,pace_h,eFg_v,eFg_h,tov_v,tov_h,...,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,home_team,game_date
0,200710300SAS,203,POR,SAS,91.8,91.8,.538,.506,15.8,7.5,...,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7,SanAntonio,20071030
1,200710300GSW,213,UTA,GSW,105.1,105.1,.483,.455,15.2,17.6,...,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3,GoldenState,20071030
2,200710300LAL,188,HOU,LAL,93.0,93.0,.500,.434,17.0,11.1,...,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1,LALakers,20071030
3,200710310IND,229,WAS,IND,98.4,98.4,.394,.484,13.2,13.6,...,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2,Indiana,20071031
4,200710310ORL,185,MIL,ORL,88.1,88.1,.402,.521,12.6,10.2,...,.479,64.7,46.7,46.9,2.3,12.9,100.0,94.2,Orlando,20071031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15516,201906020TOR,213,GSW,TOR,100.0,100.0,.543,.431,14.0,12.5,...,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0,Toronto,20190602
15517,201906050GSW,232,TOR,GSW,99.6,99.6,.628,.462,13.3,11.8,...,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5,GoldenState,20190605
15518,201906070GSW,197,TOR,GSW,94.8,94.8,.477,.500,8.5,16.3,...,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7,GoldenState,20190607
15519,201906100TOR,211,GSW,TOR,94.3,94.3,.585,.494,14.5,11.8,...,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4,Toronto,20190610
15520,201906130GSW,224,TOR,GSW,94.6,94.6,.555,.556,11.2,14.7,...,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5,GoldenState,20190613

In [28]:
game_df['id'] = game_df['game_date'] + game_df['home_team']

In [29]:
game_df

,game_id,total,away,home,pace_v,pace_h,eFg_v,eFg_h,tov_v,tov_h,...,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,home_team,game_date,id
0,200710300SAS,203,POR,SAS,91.8,91.8,.538,.506,15.8,7.5,...,77.8,50.0,51.2,8.7,6.2,100.0,105.7,SanAntonio,20071030,20071030SanAntonio
1,200710300GSW,213,UTA,GSW,105.1,105.1,.483,.455,15.2,17.6,...,65.2,39.8,59.4,7.6,11.4,100.0,111.3,GoldenState,20071030,20071030GoldenState
2,200710300LAL,188,HOU,LAL,93.0,93.0,.500,.434,17.0,11.1,...,68.4,43.0,56.3,17.2,5.8,100.0,102.1,LALakers,20071030,20071030LALakers
3,200710310IND,229,WAS,IND,98.4,98.4,.394,.484,13.2,13.6,...,64.6,50.0,52.6,11.0,7.6,100.0,101.2,Indiana,20071031,20071031Indiana
4,200710310ORL,185,MIL,ORL,88.1,88.1,.402,.521,12.6,10.2,...,64.7,46.7,46.9,2.3,12.9,100.0,94.2,Orlando,20071031,20071031Orlando
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15516,201906020TOR,213,GSW,TOR,100.0,100.0,.543,.431,14.0,12.5,...,85.0,53.8,48.6,8.0,4.2,100.0,109.0,Toronto,20190602,20190602Toronto
15517,201906050GSW,232,TOR,GSW,99.6,99.6,.628,.462,13.3,11.8,...,84.8,50.6,69.4,8.0,6.8,100.0,123.5,GoldenState,20190605,20190605GoldenState
15518,201906070GSW,197,TOR,GSW,94.8,94.8,.477,.500,8.5,16.3,...,82.9,51.9,74.3,6.3,11.1,100.0,110.7,GoldenState,20190607,20190607GoldenState
15519,201906100TOR,211,GSW,TOR,94.3,94.3,.585,.494,14.5,11.8,...,83.3,53.8,50.0,6.4,12.5,100.0,112.4,Toronto,20190610,20190610Toronto
15520,201906130GSW,224,TOR,GSW,94.6,94.6,.555,.556,11.2,14.7,...,73.8,51.9,71.8,9.5,12.2,100.0,120.5,GoldenState,20190613,20190613GoldenState

In [176]:
totals['id'] = totals['Date'] + totals['Home']

In [177]:
totals

,Date,Home,Visitor,O/U_open,O/U_close,Season,id
0,20071030,SanAntonio,Portland,184.0,189.5,0708,20071030SanAntonio
1,20071030,GoldenState,Utah,214.5,212.0,0708,20071030GoldenState
2,20071030,LALakers,Houston,191.0,199.0,0708,20071030LALakers
3,20071031,Toronto,Philadelphia,190.0,191.0,0708,20071031Toronto
4,20071031,Indiana,Washington,200.0,203.5,0708,20071031Indiana
...,...,...,...,...,...,...,...
15515,20190602,Toronto,GoldenState,216.0,213.5,1819,20190602Toronto
15516,20190605,GoldenState,Toronto,214.0,209.5,1819,20190605GoldenState
15517,20190607,GoldenState,Toronto,216.0,215.0,1819,20190607GoldenState
15518,20190610,Toronto,GoldenState,212.0,217.0,1819,20190610Toronto
15519,20190613,GoldenState,Toronto,211.0,211.5,1819,20190613GoldenState

In [178]:
totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15520 entries, 0 to 15519
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       15520 non-null  object
 1   Home       15520 non-null  object
 2   Visitor    15520 non-null  object
 3   O/U_open   15520 non-null  float64
 4   O/U_close  15520 non-null  float64
 5   Season     15520 non-null  object
 6   id         15520 non-null  object
dtypes: float64(2), object(5)
memory usage: 848.9+ KB

In [33]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15521 entries, 0 to 15520
Data columns (total 71 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_id       15521 non-null  object
 1   total         15521 non-null  int64
 2   away          15521 non-null  object
 3   home          15521 non-null  object
 4   pace_v        15521 non-null  object
 5   pace_h        15521 non-null  object
 6   eFg_v         15521 non-null  object
 7   eFg_h         15521 non-null  object
 8   tov_v         15521 non-null  object
 9   tov_h         15521 non-null  object
 10  orb_v         15521 non-null  object
 11  orb_h         15521 non-null  object
 12  ft_fga_v      15521 non-null  object
 13  ft_fga_h      15521 non-null  object
 14  ortg_v        15521 non-null  object
 15  ortg_h        15521 non-null  object
 16  fg_v          15521 non-null  object
 17  fga_v         15521 non-null  object
 18  fg_per_v      15521 non-null  object
 19  threes_v      15521 non-null  object
 20  threes_att_v  15521 non-null  object
 21  threes_per_v  15521 non-null  object
 22  ft_v          15521 non-null  object
 23  fta_v         15521 non-null  object
 24  ft_per_v      15521 non-null  object
 25  drb_v         15521 non-null  object
 26  trb_v         15521 non-null  object
 27  ast_v         15521 non-null  object
 28  stl_v         15521 non-null  object
 29  blk_v         15521 non-null  object
 30  to_v          15521 non-null  object
 31  fouls_v       15521 non-null  object
 32  ts_per_v      15521 non-null  object
 33  threes_ar_v   15521 non-null  object
 34  ft_ar_v       15521 non-null  object
 35  drb_per_v     15521 non-null  object
 36  trb_per_v     15521 non-null  object
 37  ast_per_v     15521 non-null  object
 38  stl_per_v     15521 non-null  object
 39  blk_per_v     15521 non-null  object
 40  user_per_v    15521 non-null  object
 41  drtg_v        15521 non-null  object
 42  fg_h          15521 non-null  object
 43  fga_h         15521 non-null  object
 44  fg_per_h      15521 non-null  object
 45  threes_h      15521 non-null  object
 46  threes_att_h  15521 non-null  object
 47  threes_per_h  15521 non-null  object
 48  ft_h          15521 non-null  object
 49  fta_h         15521 non-null  object
 50  ft_per_h      15521 non-null  object
 51  drb_h         15521 non-null  object
 52  trb_h         15521 non-null  object
 53  ast_h         15521 non-null  object
 54  stl_h         15521 non-null  object
 55  blk_h         15521 non-null  object
 56  to_h          15521 non-null  object
 57  fouls_h       15521 non-null  object
 58  ts_per_h      15521 non-null  object
 59  threes_ar_h   15521 non-null  object
 60  ft_ar_h       15521 non-null  object
 61  drb_per_h     15521 non-null  object
 62  trb_per_h     15521 non-null  object
 63  ast_per_h     15521 non-null  object
 64  stl_per_h     15521 non-null  object
 65  blk_per_h     15521 non-null  object
 66  user_per_h    15521 non-null  object
 67  drtg_h        15521 non-null  object
 68  home_team     15521 non-null  object
 69  game_date     15521 non-null  object
 70  id            15521 non-null  object
dtypes: int64(1), object(70)
memory usage: 8.4+ MB

Now both databases have a column to merge on. The 'id' column.

In [179]:
df = pd.merge(totals,game_df,on='id')

In [180]:
df

,Date,Home,Visitor,O/U_open,O/U_close,Season,id,game_id,total,away,...,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,home_team,game_date
0,20071030,SanAntonio,Portland,184.0,189.5,0708,20071030SanAntonio,200710300SAS,203,POR,...,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7,SanAntonio,20071030
1,20071030,GoldenState,Utah,214.5,212.0,0708,20071030GoldenState,200710300GSW,213,UTA,...,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3,GoldenState,20071030
2,20071030,LALakers,Houston,191.0,199.0,0708,20071030LALakers,200710300LAL,188,HOU,...,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1,LALakers,20071030
3,20071031,Toronto,Philadelphia,190.0,191.0,0708,20071031Toronto,200710310TOR,203,PHI,...,.200,64.3,44.6,56.1,8.8,6.2,100.0,106.8,Toronto,20071031
4,20071031,Indiana,Washington,200.0,203.5,0708,20071031Indiana,200710310IND,229,WAS,...,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2,Indiana,20071031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,Toronto,GoldenState,216.0,213.5,1819,20190602Toronto,201906020TOR,213,GSW,...,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0,Toronto,20190602
15011,20190605,GoldenState,Toronto,214.0,209.5,1819,20190605GoldenState,201906050GSW,232,TOR,...,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5,GoldenState,20190605
15012,20190607,GoldenState,Toronto,216.0,215.0,1819,20190607GoldenState,201906070GSW,197,TOR,...,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7,GoldenState,20190607
15013,20190610,Toronto,GoldenState,212.0,217.0,1819,20190610Toronto,201906100TOR,211,GSW,...,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4,Toronto,20190610
15014,20190613,GoldenState,Toronto,211.0,211.5,1819,20190613GoldenState,201906130GSW,224,TOR,...,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5,GoldenState,20190613

In [181]:
df.shape

(15015, 77)

In [182]:
df.drop(columns=['Home','Visitor','game_id','home_team','game_date'],inplace=True)

In [183]:
df

,Date,O/U_open,O/U_close,Season,id,total,away,home,pace_v,pace_h,...,ts_per_h,threes_ar_h,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h
0,20071030,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,.538,.276,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7
1,20071030,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,.512,.299,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3
2,20071030,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,93.0,93.0,...,.485,.105,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1
3,20071031,190.0,191.0,0708,20071031Toronto,203,PHI,TOR,90.9,90.9,...,.573,.188,.200,64.3,44.6,56.1,8.8,6.2,100.0,106.8
4,20071031,200.0,203.5,0708,20071031Indiana,229,WAS,IND,98.4,98.4,...,.552,.315,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,1819,20190602Toronto,213,GSW,TOR,100.0,100.0,...,.493,.404,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0
15011,20190605,214.0,209.5,1819,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,.523,.396,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5
15012,20190607,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,.527,.346,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7
15013,20190610,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,.542,.376,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4
15014,20190613,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,.590,.388,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5

Now that our data is fully processed, we are ready to process this in a classification algorithm

In [ ]:
with open('df.pickle', 'wb') as to_write:
    pickle.dump(df, to_write)

## Scratch Work

In [ ]:
df = pd.read_csv(files[2])

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df = df.iloc[:,:13]

In [ ]:
df.info()

In [ ]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 101)

In [ ]:
df.shape[0]

In [ ]:
mylist = []
for i in range(1, int(df.shape[0]/2 + 1)):
    mylist.append(i)
    mylist.append(i)
print(mylist[0],mylist[-1])

In [ ]:
len(range(1,int(df.shape[0]/2 + 1)))

In [ ]:
df['game_id'] = mylist

In [ ]:
df.dropna(axis=0,inplace=True)

In [ ]:
df.info()

In [ ]:
df = df.merge(df, on='game_id', suffixes=(None,'_2'))

In [ ]:
df

In [ ]:
df = df[1::4]
df.reset_index(drop=True, inplace=True)

In [ ]:
df

In [ ]:
#sanity check that every game only appears once
df['game_id']

In [ ]:
df['Date'] = df['Date'].astype('int')
df['Date']

In [ ]:
df['Date'] = df['Date'].astype('str')
df['Date']

In [ ]:
df['Date'] = df['Date'].str.strip('.0')

In [ ]:
df['Date'].head

In [ ]:
dates = []
for date in df['Date']:
    if int(date) > 1000:
        date = '20'+files[2][:2]+date
        dates.append(date)
    else:
        date = '20'+files[2][3:5]+'0'+date
        dates.append(date)
df['Date'] = dates

In [ ]:
df['Date']

In [ ]:
df

In [ ]:
df['Visitor'] = df['Team']
df['Home'] = df['Team_2']
df

In [ ]:
df['Open'].replace('pk','0',inplace=True)
df['Close'].replace('pk','0',inplace=True)
df['Open_2'].replace('pk','0',inplace=True)
df['Close_2'].replace('pk','0',inplace=True)
df.replace('197.5u10','197.5',inplace=True)

In [ ]:
mask = df['Open'].values == 'pk'
df[mask]

In [ ]:
df['Open'] = df['Open'].astype('float')
df['Open_2'] = df['Open_2'].astype('float')
df['Close'] = df['Close'].astype('float')
df['Close_2'] = df['Close_2'].astype('float')

In [ ]:
df['O/U_open'] = np.where(df['Open'] > df['Open_2'],df['Open'],df['Open_2'])
df

In [ ]:
df['O/U_close'] = np.where(df['Close'] > df['Close_2'],df['Close'],df['Close_2'])
df

Sanity check that opening and closing lines operations worked successfully.
So long as numbers are around 200, we know we are ok.

In [ ]:
df['O/U_open'].min()

In [ ]:
df['O/U_close'].min()

In [ ]:
df = df[['Date','Home','Visitor','O/U_open','O/U_close']]
df

### Processing our lines df

First, and most importantly, we must create our target labels. This will be done by comparing the total the the opening and closing lines, and mapping that result to one of three categories: Over, Under, or Push. This will represent the winning result of that game.

In [184]:
df

,Date,O/U_open,O/U_close,Season,id,total,away,home,pace_v,pace_h,...,ts_per_h,threes_ar_h,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h
0,20071030,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,.538,.276,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7
1,20071030,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,.512,.299,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3
2,20071030,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,93.0,93.0,...,.485,.105,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1
3,20071031,190.0,191.0,0708,20071031Toronto,203,PHI,TOR,90.9,90.9,...,.573,.188,.200,64.3,44.6,56.1,8.8,6.2,100.0,106.8
4,20071031,200.0,203.5,0708,20071031Indiana,229,WAS,IND,98.4,98.4,...,.552,.315,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,1819,20190602Toronto,213,GSW,TOR,100.0,100.0,...,.493,.404,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0
15011,20190605,214.0,209.5,1819,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,.523,.396,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5
15012,20190607,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,.527,.346,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7
15013,20190610,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,.542,.376,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4
15014,20190613,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,.590,.388,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5

In [185]:
df['ou1'] = df['total'] - df['O/U_open']
df['ou2'] = df['total'] - df['O/U_close']

In [186]:
df

,Date,O/U_open,O/U_close,Season,id,total,away,home,pace_v,pace_h,...,ft_ar_h,drb_per_h,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,ou1,ou2
0,20071030,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,.299,77.8,50.0,51.2,8.7,6.2,100.0,105.7,19.0,13.5
1,20071030,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,.494,65.2,39.8,59.4,7.6,11.4,100.0,111.3,-1.5,1.0
2,20071030,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,93.0,93.0,...,.592,68.4,43.0,56.3,17.2,5.8,100.0,102.1,-3.0,-11.0
3,20071031,190.0,191.0,0708,20071031Toronto,203,PHI,TOR,90.9,90.9,...,.200,64.3,44.6,56.1,8.8,6.2,100.0,106.8,13.0,12.0
4,20071031,200.0,203.5,0708,20071031Indiana,229,WAS,IND,98.4,98.4,...,.391,64.6,50.0,52.6,11.0,7.6,100.0,101.2,29.0,25.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,1819,20190602Toronto,213,GSW,TOR,100.0,100.0,...,.277,85.0,53.8,48.6,8.0,4.2,100.0,109.0,-3.0,-0.5
15011,20190605,214.0,209.5,1819,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,.330,84.8,50.6,69.4,8.0,6.8,100.0,123.5,18.0,22.5
15012,20190607,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,.269,82.9,51.9,74.3,6.3,11.1,100.0,110.7,-19.0,-18.0
15013,20190610,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,.318,83.3,53.8,50.0,6.4,12.5,100.0,112.4,-1.0,-6.0
15014,20190613,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,.375,73.8,51.9,71.8,9.5,12.2,100.0,120.5,13.0,12.5

In [187]:
def over_under(ou):
    if ou > 0:
        return 1
    elif ou == 0:
        return 2
    else:
        return 0

In [188]:
df['Over/Under_open'] = df['ou1'].apply(over_under)
df['Over/Under_close'] = df['ou2'].apply(over_under)

In [189]:
df

,Date,O/U_open,O/U_close,Season,id,total,away,home,pace_v,pace_h,...,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,ou1,ou2,Over/Under_open,Over/Under_close
0,20071030,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,50.0,51.2,8.7,6.2,100.0,105.7,19.0,13.5,1,1
1,20071030,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,39.8,59.4,7.6,11.4,100.0,111.3,-1.5,1.0,0,1
2,20071030,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,93.0,93.0,...,43.0,56.3,17.2,5.8,100.0,102.1,-3.0,-11.0,0,0
3,20071031,190.0,191.0,0708,20071031Toronto,203,PHI,TOR,90.9,90.9,...,44.6,56.1,8.8,6.2,100.0,106.8,13.0,12.0,1,1
4,20071031,200.0,203.5,0708,20071031Indiana,229,WAS,IND,98.4,98.4,...,50.0,52.6,11.0,7.6,100.0,101.2,29.0,25.5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,1819,20190602Toronto,213,GSW,TOR,100.0,100.0,...,53.8,48.6,8.0,4.2,100.0,109.0,-3.0,-0.5,0,0
15011,20190605,214.0,209.5,1819,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,50.6,69.4,8.0,6.8,100.0,123.5,18.0,22.5,1,1
15012,20190607,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,51.9,74.3,6.3,11.1,100.0,110.7,-19.0,-18.0,0,0
15013,20190610,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,53.8,50.0,6.4,12.5,100.0,112.4,-1.0,-6.0,0,0
15014,20190613,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,51.9,71.8,9.5,12.2,100.0,120.5,13.0,12.5,1,1

Making the decision to drop pushes as no money exchanges hands in this scenerio.

In [190]:
df = df[df['Over/Under_open'] != 2]
df = df[df['Over/Under_close'] != 2]

In [191]:
df

,Date,O/U_open,O/U_close,Season,id,total,away,home,pace_v,pace_h,...,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,ou1,ou2,Over/Under_open,Over/Under_close
0,20071030,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,50.0,51.2,8.7,6.2,100.0,105.7,19.0,13.5,1,1
1,20071030,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,39.8,59.4,7.6,11.4,100.0,111.3,-1.5,1.0,0,1
2,20071030,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,93.0,93.0,...,43.0,56.3,17.2,5.8,100.0,102.1,-3.0,-11.0,0,0
3,20071031,190.0,191.0,0708,20071031Toronto,203,PHI,TOR,90.9,90.9,...,44.6,56.1,8.8,6.2,100.0,106.8,13.0,12.0,1,1
4,20071031,200.0,203.5,0708,20071031Indiana,229,WAS,IND,98.4,98.4,...,50.0,52.6,11.0,7.6,100.0,101.2,29.0,25.5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15010,20190602,216.0,213.5,1819,20190602Toronto,213,GSW,TOR,100.0,100.0,...,53.8,48.6,8.0,4.2,100.0,109.0,-3.0,-0.5,0,0
15011,20190605,214.0,209.5,1819,20190605GoldenState,232,TOR,GSW,99.6,99.6,...,50.6,69.4,8.0,6.8,100.0,123.5,18.0,22.5,1,1
15012,20190607,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,51.9,74.3,6.3,11.1,100.0,110.7,-19.0,-18.0,0,0
15013,20190610,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,53.8,50.0,6.4,12.5,100.0,112.4,-1.0,-6.0,0,0
15014,20190613,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,51.9,71.8,9.5,12.2,100.0,120.5,13.0,12.5,1,1

About 400 instances of a push, or about 2.7% of our original dataset. This number can be remembered for sampling or simulation purposes later.

### Stat Building

We have the same set of stats for both teams in any one game, so we can build offense/defense for both teams.

In [ ]:
'''map stats accordingly:
1. Get 2 "sets" of stats per game:

visitor: offense - _v stat avgs heading into the game; defense - _h stat avgs heading into the game
home: offese - _h stat avgs heading into the game; defense - _v stat avgs heading into the game

2. Map visitor/home stats to respective teams

3. Build dictionary of team's seasons to be further processed.

{1415: {GSW: {..game_35:{offense/defense stats},game_36:{..}

4. Process dictionary to have more stats/potential model features:

{GSW: {..game_35:{offense/defense stats averaged through 34 games},game_36:{..}

5. ?

'''

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14622 entries, 0 to 15014
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              14622 non-null  object
 1   O/U_open          14622 non-null  float64
 2   O/U_close         14622 non-null  float64
 3   Season            14622 non-null  object
 4   id                14622 non-null  object
 5   total             14622 non-null  int64
 6   away              14622 non-null  object
 7   home              14622 non-null  object
 8   pace_v            14622 non-null  object
 9   pace_h            14622 non-null  object
 10  eFg_v             14622 non-null  object
 11  eFg_h             14622 non-null  object
 12  tov_v             14622 non-null  object
 13  tov_h             14622 non-null  object
 14  orb_v             14622 non-null  object
 15  orb_h             14622 non-null  object
 16  ft_fga_v          14622 non-null  object
 17  ft_fga_h          14622 non-null  object
 18  ortg_v            14622 non-null  object
 19  ortg_h            14622 non-null  object
 20  fg_v              14622 non-null  object
 21  fga_v             14622 non-null  object
 22  fg_per_v          14622 non-null  object
 23  threes_v          14622 non-null  object
 24  threes_att_v      14622 non-null  object
 25  threes_per_v      14622 non-null  object
 26  ft_v              14622 non-null  object
 27  fta_v             14622 non-null  object
 28  ft_per_v          14622 non-null  object
 29  drb_v             14622 non-null  object
 30  trb_v             14622 non-null  object
 31  ast_v             14622 non-null  object
 32  stl_v             14622 non-null  object
 33  blk_v             14622 non-null  object
 34  to_v              14622 non-null  object
 35  fouls_v           14622 non-null  object
 36  ts_per_v          14622 non-null  object
 37  threes_ar_v       14622 non-null  object
 38  ft_ar_v           14622 non-null  object
 39  drb_per_v         14622 non-null  object
 40  trb_per_v         14622 non-null  object
 41  ast_per_v         14622 non-null  object
 42  stl_per_v         14622 non-null  object
 43  blk_per_v         14622 non-null  object
 44  user_per_v        14622 non-null  object
 45  drtg_v            14622 non-null  object
 46  fg_h              14622 non-null  object
 47  fga_h             14622 non-null  object
 48  fg_per_h          14622 non-null  object
 49  threes_h          14622 non-null  object
 50  threes_att_h      14622 non-null  object
 51  threes_per_h      14622 non-null  object
 52  ft_h              14622 non-null  object
 53  fta_h             14622 non-null  object
 54  ft_per_h          14622 non-null  object
 55  drb_h             14622 non-null  object
 56  trb_h             14622 non-null  object
 57  ast_h             14622 non-null  object
 58  stl_h             14622 non-null  object
 59  blk_h             14622 non-null  object
 60  to_h              14622 non-null  object
 61  fouls_h           14622 non-null  object
 62  ts_per_h          14622 non-null  object
 63  threes_ar_h       14622 non-null  object
 64  ft_ar_h           14622 non-null  object
 65  drb_per_h         14622 non-null  object
 66  trb_per_h         14622 non-null  object
 67  ast_per_h         14622 non-null  object
 68  stl_per_h         14622 non-null  object
 69  blk_per_h         14622 non-null  object
 70  user_per_h        14622 non-null  object
 71  drtg_h            14622 non-null  object
 72  ou1               14622 non-null  float64
 73  ou2               14622 non-null  float64
 74  Over/Under_open   14622 non-null  int64
 75  Over/Under_close  14622 non-null  int64
dtypes: float64(4), int64(3), object(69)
memory usage: 8.6+ MB

Convert date to pd.datetime object. May help with building season dictionary later.

In [201]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')

In [202]:
df['Date']

0       2007-10-30
1       2007-10-30
2       2007-10-30
3       2007-10-31
4       2007-10-31
           ...
15010   2019-06-02
15011   2019-06-05
15012   2019-06-07
15013   2019-06-10
15014   2019-06-13
Name: Date, Length: 14622, dtype: datetime64[ns]

In [203]:
d = df.reindex(df.index.repeat(2)).reset_index(drop=True)

Now that we have every game twice, we can make a new column to hold home/visitor every other row, and then rename the _h and _v columns for self, opponent.

In [204]:
d

,Date,O/U_open,O/U_close,Season,id,total,away,home,pace_v,pace_h,...,trb_per_h,ast_per_h,stl_per_h,blk_per_h,user_per_h,drtg_h,ou1,ou2,Over/Under_open,Over/Under_close
0,2007-10-30,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,50.0,51.2,8.7,6.2,100.0,105.7,19.0,13.5,1,1
1,2007-10-30,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,91.8,91.8,...,50.0,51.2,8.7,6.2,100.0,105.7,19.0,13.5,1,1
2,2007-10-30,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,39.8,59.4,7.6,11.4,100.0,111.3,-1.5,1.0,0,1
3,2007-10-30,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,105.1,105.1,...,39.8,59.4,7.6,11.4,100.0,111.3,-1.5,1.0,0,1
4,2007-10-30,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,93.0,93.0,...,43.0,56.3,17.2,5.8,100.0,102.1,-3.0,-11.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29239,2019-06-07,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,94.8,94.8,...,51.9,74.3,6.3,11.1,100.0,110.7,-19.0,-18.0,0,0
29240,2019-06-10,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,53.8,50.0,6.4,12.5,100.0,112.4,-1.0,-6.0,0,0
29241,2019-06-10,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,94.3,94.3,...,53.8,50.0,6.4,12.5,100.0,112.4,-1.0,-6.0,0,0
29242,2019-06-13,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,51.9,71.8,9.5,12.2,100.0,120.5,13.0,12.5,1,1
29243,2019-06-13,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,94.6,94.6,...,51.9,71.8,9.5,12.2,100.0,120.5,13.0,12.5,1,1

Let's create the column we want to place our values, then selectively copy.

In [205]:
d['team'] = np.nan

In [206]:
#home team will be all even indexes of this dataset
d['team'][::2] = d['home'][::2]

<ipython-input-206-a0ddae015092>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['team'][::2] = d['home'][::2]

In [207]:
#away team will be all odd indexes of this dataset
d['team'][1::2] = d['away'][1::2]

<ipython-input-207-a4c97a9c0b76>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['team'][1::2] = d['away'][1::2]

In [208]:
d['opp'] = np.nan

In [209]:
d['opp'][::2] = d['away'][::2]
d['opp'][1::2] = d['home'][1::2]

<ipython-input-209-f37a04d04529>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['opp'][::2] = d['away'][::2]
<ipython-input-209-f37a04d04529>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['opp'][1::2] = d['home'][1::2]

In [210]:
d[['team','opp']]

      team  opp
0      SAS  POR
1      POR  SAS
2      GSW  UTA
3      UTA  GSW
4      LAL  HOU
...    ...  ...
29239  TOR  GSW
29240  TOR  GSW
29241  GSW  TOR
29242  GSW  TOR
29243  TOR  GSW

[29244 rows x 2 columns]

Let's keep track of home/away, can't hurt. We'll use the same process as we just used.

In [211]:
d['home/away'] = np.nan
#home team will be all even indexes of this dataset
d['home/away'][::2] = 'H'
#away team will be all odd indexes of this dataset
d['home/away'][1::2] = 'V'

<ipython-input-211-915be6e0f5cd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['home/away'][::2] = 'H'
<ipython-input-211-915be6e0f5cd>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['home/away'][1::2] = 'V'

In [213]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29244 entries, 0 to 29243
Data columns (total 79 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              29244 non-null  datetime64[ns]
 1   O/U_open          29244 non-null  float64
 2   O/U_close         29244 non-null  float64
 3   Season            29244 non-null  object
 4   id                29244 non-null  object
 5   total             29244 non-null  int64
 6   away              29244 non-null  object
 7   home              29244 non-null  object
 8   pace_v            29244 non-null  object
 9   pace_h            29244 non-null  object
 10  eFg_v             29244 non-null  object
 11  eFg_h             29244 non-null  object
 12  tov_v             29244 non-null  object
 13  tov_h             29244 non-null  object
 14  orb_v             29244 non-null  object
 15  orb_h             29244 non-null  object
 16  ft_fga_v          29244 non-null  object
 17  ft_fga_h          29244 non-null  object
 18  ortg_v            29244 non-null  object
 19  ortg_h            29244 non-null  object
 20  fg_v              29244 non-null  object
 21  fga_v             29244 non-null  object
 22  fg_per_v          29244 non-null  object
 23  threes_v          29244 non-null  object
 24  threes_att_v      29244 non-null  object
 25  threes_per_v      29244 non-null  object
 26  ft_v              29244 non-null  object
 27  fta_v             29244 non-null  object
 28  ft_per_v          29244 non-null  object
 29  drb_v             29244 non-null  object
 30  trb_v             29244 non-null  object
 31  ast_v             29244 non-null  object
 32  stl_v             29244 non-null  object
 33  blk_v             29244 non-null  object
 34  to_v              29244 non-null  object
 35  fouls_v           29244 non-null  object
 36  ts_per_v          29244 non-null  object
 37  threes_ar_v       29244 non-null  object
 38  ft_ar_v           29244 non-null  object
 39  drb_per_v         29244 non-null  object
 40  trb_per_v         29244 non-null  object
 41  ast_per_v         29244 non-null  object
 42  stl_per_v         29244 non-null  object
 43  blk_per_v         29244 non-null  object
 44  user_per_v        29244 non-null  object
 45  drtg_v            29244 non-null  object
 46  fg_h              29244 non-null  object
 47  fga_h             29244 non-null  object
 48  fg_per_h          29244 non-null  object
 49  threes_h          29244 non-null  object
 50  threes_att_h      29244 non-null  object
 51  threes_per_h      29244 non-null  object
 52  ft_h              29244 non-null  object
 53  fta_h             29244 non-null  object
 54  ft_per_h          29244 non-null  object
 55  drb_h             29244 non-null  object
 56  trb_h             29244 non-null  object
 57  ast_h             29244 non-null  object
 58  stl_h             29244 non-null  object
 59  blk_h             29244 non-null  object
 60  to_h              29244 non-null  object
 61  fouls_h           29244 non-null  object
 62  ts_per_h          29244 non-null  object
 63  threes_ar_h       29244 non-null  object
 64  ft_ar_h           29244 non-null  object
 65  drb_per_h         29244 non-null  object
 66  trb_per_h         29244 non-null  object
 67  ast_per_h         29244 non-null  object
 68  stl_per_h         29244 non-null  object
 69  blk_per_h         29244 non-null  object
 70  user_per_h        29244 non-null  object
 71  drtg_h            29244 non-null  object
 72  ou1               29244 non-null  float64
 73  ou2               29244 non-null  float64
 74  Over/Under_open   29244 non-null  int64
 75  Over/Under_close  29244 non-null  int64
 76  team              29244 non-null  object
 77  opp               29244 non-null  object
 78  home/away         29244 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(71)
memory usage: 17.6+ MB

Now we have to map the _v and _h stats appropriate to new columns for self or opponent stats.

In [214]:
stats = ['pace','eFg','tov','orb','ft_fga','ortg','fg','fga','fg_per','threes','threes_att','threes_per',
         'ft','fta','ft_per','drb','trb','ast','stl','blk','to','fouls','ts_per','threes_ar','ft_ar',
         'drb_per','trb_per','ast_per','stl_per','blk_per','user_per','drtg']
for stat in stats:
    d['{}'.format(stat)] = ""
    d['{}'.format(stat)][::2] = d['{}_h'.format(stat)][::2]
    d['{}'.format(stat)][1::2] = d['{}_v'.format(stat)][1::2]
    d['{}_opp'.format(stat)] = ""
    d['{}_opp'.format(stat)][::2] = d['{}_v'.format(stat)][::2]
    d['{}_opp'.format(stat)][1::2] = d['{}_h'.format(stat)][1::2]

<ipython-input-214-7aa6dc08b0bf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['{}'.format(stat)][::2] = d['{}_h'.format(stat)][::2]
<ipython-input-214-7aa6dc08b0bf>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['{}'.format(stat)][1::2] = d['{}_v'.format(stat)][1::2]
<ipython-input-214-7aa6dc08b0bf>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['{}_opp'.format(stat)][::2] = d['{}_v'.format(stat)][::2]
<ipython-input-214-7aa6dc08b0bf>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['{}_opp'.format(stat)][1::2] = d['{}_h'.format(stat)][1::2]

In [215]:
mylist = []
for stat in stats:
    mylist.append('{}_v'.format(stat))
    mylist.append('{}_h'.format(stat))
#print(mylist)
d = d.drop(columns=mylist)

In [216]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29244 entries, 0 to 29243
Data columns (total 79 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              29244 non-null  datetime64[ns]
 1   O/U_open          29244 non-null  float64
 2   O/U_close         29244 non-null  float64
 3   Season            29244 non-null  object
 4   id                29244 non-null  object
 5   total             29244 non-null  int64
 6   away              29244 non-null  object
 7   home              29244 non-null  object
 8   ou1               29244 non-null  float64
 9   ou2               29244 non-null  float64
 10  Over/Under_open   29244 non-null  int64
 11  Over/Under_close  29244 non-null  int64
 12  team              29244 non-null  object
 13  opp               29244 non-null  object
 14  home/away         29244 non-null  object
 15  pace              29244 non-null  object
 16  pace_opp          29244 non-null  object
 17  eFg               29244 non-null  object
 18  eFg_opp           29244 non-null  object
 19  tov               29244 non-null  object
 20  tov_opp           29244 non-null  object
 21  orb               29244 non-null  object
 22  orb_opp           29244 non-null  object
 23  ft_fga            29244 non-null  object
 24  ft_fga_opp        29244 non-null  object
 25  ortg              29244 non-null  object
 26  ortg_opp          29244 non-null  object
 27  fg                29244 non-null  object
 28  fg_opp            29244 non-null  object
 29  fga               29244 non-null  object
 30  fga_opp           29244 non-null  object
 31  fg_per            29244 non-null  object
 32  fg_per_opp        29244 non-null  object
 33  threes            29244 non-null  object
 34  threes_opp        29244 non-null  object
 35  threes_att        29244 non-null  object
 36  threes_att_opp    29244 non-null  object
 37  threes_per        29244 non-null  object
 38  threes_per_opp    29244 non-null  object
 39  ft                29244 non-null  object
 40  ft_opp            29244 non-null  object
 41  fta               29244 non-null  object
 42  fta_opp           29244 non-null  object
 43  ft_per            29244 non-null  object
 44  ft_per_opp        29244 non-null  object
 45  drb               29244 non-null  object
 46  drb_opp           29244 non-null  object
 47  trb               29244 non-null  object
 48  trb_opp           29244 non-null  object
 49  ast               29244 non-null  object
 50  ast_opp           29244 non-null  object
 51  stl               29244 non-null  object
 52  stl_opp           29244 non-null  object
 53  blk               29244 non-null  object
 54  blk_opp           29244 non-null  object
 55  to                29244 non-null  object
 56  to_opp            29244 non-null  object
 57  fouls             29244 non-null  object
 58  fouls_opp         29244 non-null  object
 59  ts_per            29244 non-null  object
 60  ts_per_opp        29244 non-null  object
 61  threes_ar         29244 non-null  object
 62  threes_ar_opp     29244 non-null  object
 63  ft_ar             29244 non-null  object
 64  ft_ar_opp         29244 non-null  object
 65  drb_per           29244 non-null  object
 66  drb_per_opp       29244 non-null  object
 67  trb_per           29244 non-null  object
 68  trb_per_opp       29244 non-null  object
 69  ast_per           29244 non-null  object
 70  ast_per_opp       29244 non-null  object
 71  stl_per           29244 non-null  object
 72  stl_per_opp       29244 non-null  object
 73  blk_per           29244 non-null  object
 74  blk_per_opp       29244 non-null  object
 75  user_per          29244 non-null  object
 76  user_per_opp      29244 non-null  object
 77  drtg              29244 non-null  object
 78  drtg_opp          29244 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(71)
memory usage: 17.6+ MB

Now our DataFrame (d) has stats for each team and their opponent for every game. Now let's get some rolling averages.

In [220]:
list(d['team'].unique())

['SAS',
 'POR',
 'GSW',
 'UTA',
 'LAL',
 'HOU',
 'TOR',
 'PHI',
 'IND',
 'WAS',
 'ORL',
 'MIL',
 'NJN',
 'CHI',
 'CLE',
 'DAL',
 'MEM',
 'NOH',
 'SAC',
 'DEN',
 'SEA',
 'MIA',
 'DET',
 'PHO',
 'CHA',
 'ATL',
 'NYK',
 'BOS',
 'MIN',
 'LAC',
 'OKC',
 'BRK',
 'NOP',
 'CHO']

First we'll create an empty column that we'll populate with a rolling count for every time that team has appeared. This will get us the number of games each team has played up INCLUDING that game for each season. We can use that info to incorporate some rolling averages.

In [234]:
d['team_season'] = d['team'] + d['Season']

In [235]:
d

,Date,O/U_open,O/U_close,Season,id,total,away,home,ou1,ou2,...,stl_per,stl_per_opp,blk_per,blk_per_opp,user_per,user_per_opp,drtg,drtg_opp,game_num,team_season
0,2007-10-30,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,19.0,13.5,...,8.7,1.1,6.2,6.3,100.0,100.0,105.7,115.5,NaN,SAS0708
1,2007-10-30,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,19.0,13.5,...,1.1,8.7,6.3,6.2,100.0,100.0,115.5,105.7,NaN,POR0708
2,2007-10-30,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,-1.5,1.0,...,7.6,8.6,11.4,13.0,100.0,100.0,111.3,91.3,NaN,GSW0708
3,2007-10-30,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,-1.5,1.0,...,8.6,7.6,13.0,11.4,100.0,100.0,91.3,111.3,NaN,UTA0708
4,2007-10-30,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,-3.0,-11.0,...,17.2,10.7,5.8,7.4,100.0,100.0,102.1,99.9,NaN,LAL0708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29239,2019-06-07,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,-19.0,-18.0,...,12.7,6.3,7.8,11.1,100.0,100.0,97.0,110.7,NaN,TOR1819
29240,2019-06-10,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,-1.0,-6.0,...,6.4,5.3,12.5,13.2,100.0,100.0,112.4,111.3,NaN,TOR1819
29241,2019-06-10,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,-1.0,-6.0,...,5.3,6.4,13.2,12.5,100.0,100.0,111.3,112.4,NaN,GSW1819
29242,2019-06-13,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,13.0,12.5,...,9.5,8.5,12.2,4.1,100.0,100.0,120.5,116.3,NaN,GSW1819
29243,2019-06-13,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,13.0,12.5,...,8.5,9.5,4.1,12.2,100.0,100.0,116.3,120.5,NaN,TOR1819

In [256]:
d['game_num'] = d.groupby('team_season').cumcount()+1
d

,Date,O/U_open,O/U_close,Season,id,total,away,home,ou1,ou2,...,stl_per,stl_per_opp,blk_per,blk_per_opp,user_per,user_per_opp,drtg,drtg_opp,game_num,team_season
0,2007-10-30,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,19.0,13.5,...,8.7,1.1,6.2,6.3,100.0,100.0,105.7,115.5,1,SAS0708
1,2007-10-30,184.0,189.5,0708,20071030SanAntonio,203,POR,SAS,19.0,13.5,...,1.1,8.7,6.3,6.2,100.0,100.0,115.5,105.7,1,POR0708
2,2007-10-30,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,-1.5,1.0,...,7.6,8.6,11.4,13.0,100.0,100.0,111.3,91.3,1,GSW0708
3,2007-10-30,214.5,212.0,0708,20071030GoldenState,213,UTA,GSW,-1.5,1.0,...,8.6,7.6,13.0,11.4,100.0,100.0,91.3,111.3,1,UTA0708
4,2007-10-30,191.0,199.0,0708,20071030LALakers,188,HOU,LAL,-3.0,-11.0,...,17.2,10.7,5.8,7.4,100.0,100.0,102.1,99.9,1,LAL0708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29239,2019-06-07,216.0,215.0,1819,20190607GoldenState,197,TOR,GSW,-19.0,-18.0,...,12.7,6.3,7.8,11.1,100.0,100.0,97.0,110.7,99,TOR1819
29240,2019-06-10,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,-1.0,-6.0,...,6.4,5.3,12.5,13.2,100.0,100.0,112.4,111.3,100,TOR1819
29241,2019-06-10,212.0,217.0,1819,20190610Toronto,211,GSW,TOR,-1.0,-6.0,...,5.3,6.4,13.2,12.5,100.0,100.0,111.3,112.4,101,GSW1819
29242,2019-06-13,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,13.0,12.5,...,9.5,8.5,12.2,4.1,100.0,100.0,120.5,116.3,102,GSW1819
29243,2019-06-13,211.0,211.5,1819,20190613GoldenState,224,TOR,GSW,13.0,12.5,...,8.5,9.5,4.1,12.2,100.0,100.0,116.3,120.5,101,TOR1819

In [259]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29244 entries, 0 to 29243
Data columns (total 81 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              29244 non-null  datetime64[ns]
 1   O/U_open          29244 non-null  float64
 2   O/U_close         29244 non-null  float64
 3   Season            29244 non-null  object
 4   id                29244 non-null  object
 5   total             29244 non-null  int64
 6   away              29244 non-null  object
 7   home              29244 non-null  object
 8   ou1               29244 non-null  float64
 9   ou2               29244 non-null  float64
 10  Over/Under_open   29244 non-null  int64
 11  Over/Under_close  29244 non-null  int64
 12  team              29244 non-null  object
 13  opp               29244 non-null  object
 14  home/away         29244 non-null  object
 15  pace              29244 non-null  object
 16  pace_opp          29244 non-null  object
 17  eFg               29244 non-null  object
 18  eFg_opp           29244 non-null  object
 19  tov               29244 non-null  object
 20  tov_opp           29244 non-null  object
 21  orb               29244 non-null  object
 22  orb_opp           29244 non-null  object
 23  ft_fga            29244 non-null  object
 24  ft_fga_opp        29244 non-null  object
 25  ortg              29244 non-null  object
 26  ortg_opp          29244 non-null  object
 27  fg                29244 non-null  object
 28  fg_opp            29244 non-null  object
 29  fga               29244 non-null  object
 30  fga_opp           29244 non-null  object
 31  fg_per            29244 non-null  object
 32  fg_per_opp        29244 non-null  object
 33  threes            29244 non-null  object
 34  threes_opp        29244 non-null  object
 35  threes_att        29244 non-null  object
 36  threes_att_opp    29244 non-null  object
 37  threes_per        29244 non-null  object
 38  threes_per_opp    29244 non-null  object
 39  ft                29244 non-null  object
 40  ft_opp            29244 non-null  object
 41  fta               29244 non-null  object
 42  fta_opp           29244 non-null  object
 43  ft_per            29244 non-null  object
 44  ft_per_opp        29244 non-null  object
 45  drb               29244 non-null  object
 46  drb_opp           29244 non-null  object
 47  trb               29244 non-null  object
 48  trb_opp           29244 non-null  object
 49  ast               29244 non-null  object
 50  ast_opp           29244 non-null  object
 51  stl               29244 non-null  object
 52  stl_opp           29244 non-null  object
 53  blk               29244 non-null  object
 54  blk_opp           29244 non-null  object
 55  to                29244 non-null  object
 56  to_opp            29244 non-null  object
 57  fouls             29244 non-null  object
 58  fouls_opp         29244 non-null  object
 59  ts_per            29244 non-null  object
 60  ts_per_opp        29244 non-null  object
 61  threes_ar         29244 non-null  object
 62  threes_ar_opp     29244 non-null  object
 63  ft_ar             29244 non-null  object
 64  ft_ar_opp         29244 non-null  object
 65  drb_per           29244 non-null  object
 66  drb_per_opp       29244 non-null  object
 67  trb_per           29244 non-null  object
 68  trb_per_opp       29244 non-null  object
 69  ast_per           29244 non-null  object
 70  ast_per_opp       29244 non-null  object
 71  stl_per           29244 non-null  object
 72  stl_per_opp       29244 non-null  object
 73  blk_per           29244 non-null  object
 74  blk_per_opp       29244 non-null  object
 75  user_per          29244 non-null  object
 76  user_per_opp      29244 non-null  object
 77  drtg              29244 non-null  object
 78  drtg_opp          29244 non-null  object
 79  game_num          29244 non-null  int64
 80  team_season       29244 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(72)
memory usage: 18.1+ MB

Cast our stat columns as floats to perform some operations on them.

In [266]:
for col in d.iloc[:,15:79].columns:
    d[col] = d[col].astype('float')

In [267]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29244 entries, 0 to 29243
Data columns (total 81 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              29244 non-null  datetime64[ns]
 1   O/U_open          29244 non-null  float64
 2   O/U_close         29244 non-null  float64
 3   Season            29244 non-null  object
 4   id                29244 non-null  object
 5   total             29244 non-null  int64
 6   away              29244 non-null  object
 7   home              29244 non-null  object
 8   ou1               29244 non-null  float64
 9   ou2               29244 non-null  float64
 10  Over/Under_open   29244 non-null  int64
 11  Over/Under_close  29244 non-null  int64
 12  team              29244 non-null  object
 13  opp               29244 non-null  object
 14  home/away         29244 non-null  object
 15  pace              29244 non-null  float64
 16  pace_opp          29244 non-null  float64
 17  eFg               29244 non-null  float64
 18  eFg_opp           29244 non-null  float64
 19  tov               29244 non-null  float64
 20  tov_opp           29244 non-null  float64
 21  orb               29244 non-null  float64
 22  orb_opp           29244 non-null  float64
 23  ft_fga            29244 non-null  float64
 24  ft_fga_opp        29244 non-null  float64
 25  ortg              29244 non-null  float64
 26  ortg_opp          29244 non-null  float64
 27  fg                29244 non-null  float64
 28  fg_opp            29244 non-null  float64
 29  fga               29244 non-null  float64
 30  fga_opp           29244 non-null  float64
 31  fg_per            29244 non-null  float64
 32  fg_per_opp        29244 non-null  float64
 33  threes            29244 non-null  float64
 34  threes_opp        29244 non-null  float64
 35  threes_att        29244 non-null  float64
 36  threes_att_opp    29244 non-null  float64
 37  threes_per        29244 non-null  float64
 38  threes_per_opp    29244 non-null  float64
 39  ft                29244 non-null  float64
 40  ft_opp            29244 non-null  float64
 41  fta               29244 non-null  float64
 42  fta_opp           29244 non-null  float64
 43  ft_per            29244 non-null  float64
 44  ft_per_opp        29244 non-null  float64
 45  drb               29244 non-null  float64
 46  drb_opp           29244 non-null  float64
 47  trb               29244 non-null  float64
 48  trb_opp           29244 non-null  float64
 49  ast               29244 non-null  float64
 50  ast_opp           29244 non-null  float64
 51  stl               29244 non-null  float64
 52  stl_opp           29244 non-null  float64
 53  blk               29244 non-null  float64
 54  blk_opp           29244 non-null  float64
 55  to                29244 non-null  float64
 56  to_opp            29244 non-null  float64
 57  fouls             29244 non-null  float64
 58  fouls_opp         29244 non-null  float64
 59  ts_per            29244 non-null  float64
 60  ts_per_opp        29244 non-null  float64
 61  threes_ar         29244 non-null  float64
 62  threes_ar_opp     29244 non-null  float64
 63  ft_ar             29244 non-null  float64
 64  ft_ar_opp         29244 non-null  float64
 65  drb_per           29244 non-null  float64
 66  drb_per_opp       29244 non-null  float64
 67  trb_per           29244 non-null  float64
 68  trb_per_opp       29244 non-null  float64
 69  ast_per           29244 non-null  float64
 70  ast_per_opp       29244 non-null  float64
 71  stl_per           29244 non-null  float64
 72  stl_per_opp       29244 non-null  float64
 73  blk_per           29244 non-null  float64
 74  blk_per_opp       29244 non-null  float64
 75  user_per          29244 non-null  float64
 76  user_per_opp      29244 non-null  float64
 77  drtg              29244 non-null  float64
 78  drtg_opp          29244 non-null  float64
 79  game_num          29244 non-null  int64
 80  team_season       29244 non-null  object
dtypes: datetime64[ns](1), float64(68), int64(4), object(8)
memory usage: 18.1+ MB

In [301]:
d['team_season_game_num'] = d['team_season'] + d['game_num'].astype('str')

In [302]:
d['team_season_game_num']

0          SAS07081
1          POR07081
2          GSW07081
3          UTA07081
4          LAL07081
            ...
29239     TOR181999
29240    TOR1819100
29241    GSW1819101
29242    GSW1819102
29243    TOR1819101
Name: team_season_game_num, Length: 29244, dtype: object

In [374]:
d2 = d[['team_season_game_num','team_season','Season','team','game_num','eFg','tov','orb','ft_fga']]

In [375]:
d2

,team_season_game_num,team_season,Season,team,game_num,eFg,tov,orb,ft_fga
0,SAS07081,SAS0708,0708,SAS,1,0.506,7.5,27.3,0.207
1,POR07081,POR0708,0708,POR,1,0.538,15.8,22.2,0.167
2,GSW07081,GSW0708,0708,GSW,1,0.455,17.6,14.9,0.338
3,UTA07081,UTA0708,0708,UTA,1,0.483,15.2,34.8,0.333
4,LAL07081,LAL0708,0708,LAL,1,0.434,11.1,22.9,0.355
...,...,...,...,...,...,...,...,...,...
29239,TOR181999,TOR1819,1819,TOR,99,0.477,8.5,17.1,0.267
29240,TOR1819100,TOR1819,1819,TOR,100,0.494,11.8,29.5,0.247
29241,GSW1819101,GSW1819,1819,GSW,101,0.585,14.5,16.7,0.122
29242,GSW1819102,GSW1819,1819,GSW,102,0.556,14.7,28.2,0.263
29243,TOR1819101,TOR1819,1819,TOR,101,0.555,11.2,26.2,0.280

In [359]:
d2.sort_values(by=['team_season', 'game_num']).reset_index(drop=True)

,team_season_game_num,team_season,Season,team,game_num,eFg,tov,orb,ft_fga
0,ATL07081,ATL0708,0708,ATL,1,0.481,13.9,31.1,0.316
1,ATL07082,ATL0708,0708,ATL,2,0.486,18.5,33.3,0.292
2,ATL07083,ATL0708,0708,ATL,3,0.434,18.8,19.5,0.338
3,ATL07084,ATL0708,0708,ATL,4,0.478,13.8,36.2,0.211
4,ATL07085,ATL0708,0708,ATL,5,0.464,19.0,20.5,0.257
...,...,...,...,...,...,...,...,...,...
29239,WAS181978,WAS1819,1819,WAS,78,0.435,9.0,16.7,0.163
29240,WAS181979,WAS1819,1819,WAS,79,0.490,10.0,18.4,0.196
29241,WAS181980,WAS1819,1819,WAS,80,0.528,8.4,23.1,0.216
29242,WAS181981,WAS1819,1819,WAS,81,0.466,6.7,36.8,0.136
29243,WAS181982,WAS1819,1819,WAS,82,0.495,12.5,26.0,0.144

In [381]:
mask = d2['team'] == 'GSW'
d_gsw = d2[mask]

In [384]:
d_gsw.reset_index(inplace=True,drop=True)
d_gsw

,team_season_game_num,team_season,Season,team,game_num,eFg,tov,orb,ft_fga
0,GSW07081,GSW0708,0708,GSW,1,0.455,17.6,14.9,0.338
1,GSW07082,GSW0708,0708,GSW,2,0.505,8.7,22.4,0.202
2,GSW07083,GSW0708,0708,GSW,3,0.589,18.3,29.7,0.215
3,GSW07084,GSW0708,0708,GSW,4,0.473,9.7,19.1,0.198
4,GSW07085,GSW0708,0708,GSW,5,0.556,6.4,17.0,0.180
...,...,...,...,...,...,...,...,...,...
1025,GSW181998,GSW1819,1819,GSW,98,0.543,14.0,15.0,0.244
1026,GSW181999,GSW1819,1819,GSW,99,0.462,11.8,27.1,0.275
1027,GSW1819100,GSW1819,1819,GSW,100,0.500,16.3,20.0,0.179
1028,GSW1819101,GSW1819,1819,GSW,101,0.585,14.5,16.7,0.122
1029,GSW1819102,GSW1819,1819,GSW,102,0.556,14.7,28.2,0.263

For each team, get a single season, calculate rolling averages, then insert into our DataFrame (d). Necessary since every season has potentially different number of games

In [440]:
for team in d['team'].unique():
    mask = d['team'] == team
    d4 = d[mask]
    for season in d4['Season'].unique():
        mask = d4['Season'] == '{}'.format(season)
        d5 = d4[mask]
        for stat in list(d5.iloc[:,15:79].columns):
        d5['{}_rolling'.format(stat)] = d5.rolling(window=5)['{}'.format(stat)].mean().shift(1)

            Date  O/U_open  O/U_close Season                  id  total away  \
0     2007-10-30     184.0      189.5   0708  20071030SanAntonio    203  POR
17    2007-10-31     198.0      201.0   0708     20071031Memphis    205  SAS
48    2007-11-02     190.5      191.0   0708  20071102SanAntonio    176  SAC
95    2007-11-06     185.0      183.5   0708     20071106Houston    170  SAS
114   2007-11-07     185.5      180.5   0708  20071107SanAntonio    166  MIA
...          ...       ...        ...    ...                 ...    ...  ...
29118 2019-04-18     212.0      207.0   1819  20190418SanAntonio    226  DEN
29128 2019-04-20     211.0      209.5   1819  20190420SanAntonio    220  DEN
29147 2019-04-23     212.0      210.5   1819      20190423Denver    198  SAS
29158 2019-04-25     208.5      209.0   1819  20190425SanAntonio    223  DEN
29163 2019-04-27     211.0      207.5   1819      20190427Denver    176  SAS

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
0      SAS  19.0  13.5  ...         100.0  105.7    115.5        1
17     MEM   7.0   4.0  ...         100.0  105.4    108.5        2
48     SAS -14.5 -15.0  ...         100.0   87.0    104.4        3
95     HOU -15.0 -13.5  ...         100.0  105.6     96.1        4
114    SAS -19.5 -14.5  ...         100.0   91.2    102.9        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29118  SAS  14.0  19.0  ...         100.0  119.4    130.4       84
29128  SAS   9.0  10.5  ...         100.0  128.0    112.6       85
29147  DEN -14.0 -12.5  ...         100.0  117.6     98.0       86
29158  SAS  14.5  14.0  ...         100.0  115.0    134.0       87
29163  DEN -35.0 -31.5  ...         100.0  101.2     96.7       88

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
0         SAS0708              SAS07081          NaN          NaN
17        SAS0708              SAS07082       0.4718        14.56
48        SAS0708              SAS07083       0.4588        14.28
95        SAS0708              SAS07084       0.5294        13.98
114       SAS0708              SAS07085       0.4912        19.46
...           ...                   ...          ...          ...
29118     SAS1819             SAS181984       0.5054        10.78
29128     SAS1819             SAS181985       0.5388        13.96
29147     SAS1819             SAS181986       0.5258        12.70
29158     SAS1819             SAS181987       0.5048        11.38
29163     SAS1819             SAS181988       0.5134         7.94

       orb_rolling  ft_fga_rolling
0              NaN             NaN
17           26.66          0.2556
48           26.06          0.2136
95           28.42          0.2146
114          28.44          0.2620
...            ...             ...
29118        21.30          0.1986
29128        25.08          0.2458
29147        24.46          0.2342
29158        24.84          0.2056
29163        25.82          0.1974

[1045 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
1     2007-10-30     184.0      189.5   0708   20071030SanAntonio    203  POR
43    2007-11-02     192.0      203.0   0708   20071102NewOrleans    206  POR
61    2007-11-03     203.5      203.0   0708      20071103Houston    169  POR
120   2007-11-07     202.0      201.5   0708     20071107Portland    183  NOH
162   2007-11-10     202.5      201.5   0708     20071110Portland    173  DAL
...          ...       ...        ...    ...                  ...    ...  ...
29211 2019-05-12     212.5      211.0   1819       20190512Denver    196  POR
29213 2019-05-14     218.5      220.5   1819  20190514GoldenState    210  POR
29217 2019-05-16     218.0      219.5   1819  20190516GoldenState    225  POR
29220 2019-05-18     221.0      220.5   1819     20190518Portland    209  GSW
29224 2019-05-20     218.5      218.0   1819     20190520Portland    236  GSW

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
1      SAS  19.0  13.5  ...         100.0  115.5    105.7        1
43     NOH  14.0   3.0  ...         100.0  128.9    106.1        2
61     HOU -34.5 -34.0  ...         100.0   99.8     89.7        3
120    POR -19.0 -18.5  ...         100.0   99.1    102.4        4
162    POR -29.5 -28.5  ...         100.0   92.6    102.8        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29211  DEN -16.5 -15.0  ...         100.0  102.0    106.3       90
29213  GSW  -8.5 -10.5  ...         100.0  121.8     98.7       91
29217  GSW   7.0   5.5  ...         100.0  119.3    116.2       92
29220  POR -12.0 -11.5  ...         100.0  112.0    100.8       93
29224  POR  17.5  18.0  ...         100.0  113.0    111.1       94

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
1         POR0708              POR07081          NaN          NaN
43        POR0708              POR07082       0.5116        12.92
61        POR0708              POR07083       0.4572        16.00
120       POR0708              POR07084       0.4624        15.30
162       POR0708              POR07085       0.5170        17.36
...           ...                   ...          ...          ...
29211     POR1819             POR181990       0.4916        11.72
29213     POR1819             POR181991       0.4668         9.36
29217     POR1819             POR181992       0.4960        13.32
29220     POR1819             POR181993       0.5172        11.04
29224     POR1819             POR181994       0.4800        12.28

       orb_rolling  ft_fga_rolling
1              NaN             NaN
43           29.66          0.2330
61           24.30          0.2824
120          27.64          0.2638
162          24.52          0.2270
...            ...             ...
29211        25.18          0.2476
29213        23.48          0.2570
29217        26.88          0.2384
29220        20.72          0.2280
29224        17.12          0.2226

[980 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
2     2007-10-30     214.5      212.0   0708  20071030GoldenState    213  UTA
51    2007-11-02     209.0      211.0   0708   20071102LAClippers    234  GSW
65    2007-11-03     212.5      215.5   0708         20071103Utah    243  GSW
100   2007-11-06     209.0      209.5   0708  20071106GoldenState    212  CLE
126   2007-11-08     213.5      216.0   0708  20071108GoldenState    235  DAL
...          ...       ...        ...    ...                  ...    ...  ...
29235 2019-06-02     216.0      213.5   1819      20190602Toronto    213  GSW
29236 2019-06-05     214.0      209.5   1819  20190605GoldenState    232  TOR
29238 2019-06-07     216.0      215.0   1819  20190607GoldenState    197  TOR
29241 2019-06-10     212.0      217.0   1819      20190610Toronto    211  GSW
29242 2019-06-13     211.0      211.5   1819  20190613GoldenState    224  TOR

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
2      GSW  -1.5   1.0  ...         100.0  111.3     91.3        1
51     LAC  25.0  23.0  ...         100.0  119.0    113.0        2
65     UTA  30.5  27.5  ...         100.0  138.6    114.6        3
100    GSW   3.0   2.5  ...         100.0  107.8    103.8        4
126    GSW  21.5  19.0  ...         100.0  122.1    117.0        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29235  TOR  -3.0  -0.5  ...         100.0  104.0    109.0       98
29236  GSW  18.0  22.5  ...         100.0  123.5    109.5       99
29238  GSW -19.0 -18.0  ...         100.0  110.7     97.0      100
29241  TOR  -1.0  -6.0  ...         100.0  111.3    112.4      101
29242  GSW  13.0  12.5  ...         100.0  120.5    116.3      102

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
2         GSW0708              GSW07081          NaN          NaN
51        GSW0708              GSW07082       0.4538        15.56
65        GSW0708              GSW07083       0.5556        14.26
100       GSW0708              GSW07084       0.4762        15.18
126       GSW0708              GSW07085       0.4416        14.20
...           ...                   ...          ...          ...
29235     GSW1819             GSW181998       0.5166        11.80
29236     GSW1819             GSW181999       0.5116        12.46
29238     GSW1819            GSW1819100       0.5154        13.30
29241     GSW1819            GSW1819101       0.5122        12.34
29242     GSW1819            GSW1819102       0.5368        12.88

       orb_rolling  ft_fga_rolling
2              NaN             NaN
51           29.14          0.2732
65           30.98          0.2716
100          26.92          0.2600
126          25.36          0.2850
...            ...             ...
29235        23.30          0.2954
29236        22.96          0.3010
29238        22.08          0.2760
29241        21.78          0.2424
29242        19.70          0.2118

[1030 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
3     2007-10-30     214.5      212.0   0708  20071030GoldenState    213  UTA
24    2007-11-01     191.0      193.0   0708         20071101Utah    201  HOU
64    2007-11-03     212.5      215.5   0708         20071103Utah    243  GSW
81    2007-11-04     202.0      205.5   0708     20071104LALakers    228  UTA
116   2007-11-07     196.0      194.5   0708         20071107Utah    204  CLE
...          ...       ...        ...    ...                  ...    ...  ...
29085 2019-04-10     225.0      225.0   1819   20190410LAClippers    280  UTA
29101 2019-04-14     219.0      212.5   1819      20190414Houston    212  UTA
29132 2019-04-20     216.0      214.5   1819         20190420Utah    205  HOU
29144 2019-04-22     212.5      214.5   1819         20190422Utah    198  HOU
29157 2019-04-24     213.0      213.5   1819      20190424Houston    193  UTA

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
3      GSW  -1.5   1.0  ...         100.0   91.3    111.3        1
24     UTA  10.0   8.0  ...         100.0  109.9     98.5        2
64     UTA  30.5  27.5  ...         100.0  114.6    138.6        3
81     LAL  26.0  22.5  ...         100.0  115.9    106.2        4
116    UTA   8.0   9.5  ...         100.0  102.8    104.8        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29085  LAC  55.0  55.0  ...         100.0  121.9    116.8       80
29101  HOU  -7.0  -0.5  ...         100.0  123.6     91.2       81
29132  UTA -11.0  -9.5  ...         100.0  103.0    100.1       82
29144  UTA -14.5 -16.5  ...         100.0   99.4    116.9       83
29157  HOU -20.0 -20.5  ...         100.0  102.2     95.0       84

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
3         UTA0708              UTA07081          NaN          NaN
24        UTA0708              UTA07082       0.4672        13.74
64        UTA0708              UTA07083       0.4914        15.02
81        UTA0708              UTA07084       0.4694        13.86
116       UTA0708              UTA07085       0.4982        18.80
...           ...                   ...          ...          ...
29085     UTA1819             UTA181980       0.5692         9.88
29101     UTA1819             UTA181981       0.4976        11.74
29132     UTA1819             UTA181982       0.5184        10.44
29144     UTA1819             UTA181983       0.5288        12.24
29157     UTA1819             UTA181984       0.5368        11.92

       orb_rolling  ft_fga_rolling
3              NaN             NaN
24           22.30          0.2070
64           27.78          0.2584
81           23.54          0.2230
116          23.38          0.2008
...            ...             ...
29085        26.04          0.1396
29101        22.54          0.1724
29132        27.38          0.2330
29144        19.42          0.2264
29157        24.46          0.1878

[960 rows x 86 columns]
            Date  O/U_open  O/U_close Season                    id  total  \
4     2007-10-30     191.0      199.0   0708      20071030LALakers    188
80    2007-11-04     202.0      205.5   0708      20071104LALakers    228
102   2007-11-06     207.0      205.5   0708      20071106LALakers    222
148   2007-11-09     201.0      204.0   0708      20071109LALakers    200
219   2007-11-14     199.0      199.5   0708       20071114Houston    183
...          ...       ...        ...    ...                   ...    ...
28951 2019-04-02     224.0      226.0   1819  20190402OklahomaCity    222
28984 2019-04-04     227.0      226.5   1819      20190404LALakers    198
29007 2019-04-05     229.5      228.0   1819    20190405LAClippers    239
29040 2019-04-07     216.5      216.5   1819      20190407LALakers    222
29062 2019-04-09     224.5      225.5   1819      20190409LALakers    205

      away home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
4      HOU  LAL  -3.0 -11.0  ...         100.0  102.1     99.9        1
80     UTA  LAL  26.0  22.5  ...         100.0  106.2    115.9        2
102    NOH  LAL  15.0  16.5  ...         100.0  119.2    105.0        3
148    MIN  LAL  -1.0  -4.0  ...         100.0   98.6    113.5        4
219    LAL  HOU -16.0 -16.5  ...         100.0   99.2    102.5        5
...    ...  ...   ...   ...  ...           ...    ...      ...      ...
28951  LAL  OKC  -2.0  -4.0  ...         100.0  115.2     99.7       77
28984  GSW  LAL -29.0 -28.5  ...         100.0  102.8     85.7       78
29007  LAL  LAC   9.5  11.0  ...         100.0  110.4    115.1       79
29040  UTA  LAL   5.5   5.5  ...         100.0  114.6    118.8       80
29062  POR  LAL -19.5 -20.5  ...         100.0  106.4    103.3       81

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
4         LAL0708              LAL07081          NaN          NaN
80        LAL0708              LAL07082       0.4510        14.32
102       LAL0708              LAL07083       0.5044        14.50
148       LAL0708              LAL07084       0.4886        13.52
219       LAL0708              LAL07085       0.4644        15.14
...           ...                   ...          ...          ...
28951     LAL1819             LAL181977       0.5320        11.04
28984     LAL1819             LAL181978       0.5796        11.56
29007     LAL1819             LAL181979       0.5402         8.82
29040     LAL1819             LAL181980       0.5414        11.52
29062     LAL1819             LAL181981       0.5328        10.66

       orb_rolling  ft_fga_rolling
4              NaN             NaN
80           26.06          0.2034
102          25.90          0.2290
148          29.18          0.2284
219          31.76          0.2482
...            ...             ...
28951        22.60          0.1962
28984        19.60          0.1772
29007        21.50          0.1932
29040        26.40          0.1664
29062        19.12          0.2158

[997 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
5     2007-10-30     191.0      199.0   0708     20071030LALakers    188  HOU
25    2007-11-01     191.0      193.0   0708         20071101Utah    201  HOU
60    2007-11-03     203.5      203.0   0708      20071103Houston    169  POR
83    2007-11-05     190.0      189.5   0708       20071105Dallas    205  HOU
94    2007-11-06     185.0      183.5   0708      20071106Houston    170  SAS
...          ...       ...        ...    ...                  ...    ...  ...
29177 2019-04-30     220.0      222.0   1819  20190430GoldenState    224  HOU
29186 2019-05-04     222.0      219.5   1819      20190504Houston    247  GSW
29194 2019-05-06     221.0      219.5   1819      20190506Houston    220  GSW
29203 2019-05-08     220.0      221.0   1819  20190508GoldenState    203  HOU
29206 2019-05-10     212.0      215.5   1819      20190510Houston    231  GSW

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
5      LAL  -3.0 -11.0  ...         100.0   99.9    102.1        1
25     UTA  10.0   8.0  ...         100.0   98.5    109.9        2
60     HOU -34.5 -34.0  ...         100.0   89.7     99.8        3
83     DAL  15.0  15.5  ...         100.0  116.6    106.8        4
94     HOU -15.0 -13.5  ...         100.0   96.1    105.6        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29177  GSW   4.0   2.0  ...         100.0  124.0    117.5       87
29186  HOU  25.0  27.5  ...         100.0  119.3    124.3       88
29194  HOU  -1.0   0.5  ...         100.0  109.0    113.0       89
29203  GSW -17.0 -18.0  ...         100.0  111.4    106.1       90
29206  HOU  19.0  15.5  ...         100.0  121.9    116.7       91

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
5         HOU0708              HOU07081       0.4832        13.44
25        HOU0708              HOU07082       0.4672        14.38
60        HOU0708              HOU07083       0.4702        16.76
83        HOU0708              HOU07084       0.5106        13.78
94        HOU0708              HOU07085       0.5446        12.90
...           ...                   ...          ...          ...
29177     HOU1819             HOU181987       0.5390        11.96
29186     HOU1819             HOU181988       0.5152        11.88
29194     HOU1819             HOU181989       0.4956         9.84
29203     HOU1819             HOU181990       0.4724         9.74
29206     HOU1819             HOU181991       0.4752        10.70

       orb_rolling  ft_fga_rolling
5            24.42          0.2800
25           24.78          0.2194
60           22.58          0.3050
83           22.24          0.2724
94           23.68          0.2380
...            ...             ...
29177        23.30          0.2732
29186        24.58          0.2376
29194        24.58          0.2506
29203        22.76          0.2176
29206        26.24          0.2590

[1001 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
6     2007-10-31     190.0      191.0   0708      20071031Toronto    203  PHI
35    2007-11-02     192.5      193.5   0708    20071102NewJersey    175  TOR
66    2007-11-04     192.0      194.0   0708      20071104Toronto    193  BOS
93    2007-11-06     191.0      190.0   0708    20071106Milwaukee    197  TOR
104   2007-11-07     186.5      191.5   0708      20071107Toronto    201  ORL
...          ...       ...        ...    ...                  ...    ...  ...
29234 2019-06-02     216.0      213.5   1819      20190602Toronto    213  GSW
29237 2019-06-05     214.0      209.5   1819  20190605GoldenState    232  TOR
29239 2019-06-07     216.0      215.0   1819  20190607GoldenState    197  TOR
29240 2019-06-10     212.0      217.0   1819      20190610Toronto    211  GSW
29243 2019-06-13     211.0      211.5   1819  20190613GoldenState    224  TOR

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
6      TOR  13.0  12.0  ...         100.0  106.8    116.7        1
35     NJN -17.5 -18.5  ...         100.0   80.0    122.9        2
66     TOR   1.0  -1.0  ...         100.0  103.5    100.3        3
93     MIL   6.0   7.0  ...         100.0  120.4     91.4        4
104    TOR  14.5   9.5  ...         100.0  111.3    101.8        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29234  TOR  -3.0  -0.5  ...         100.0  109.0    104.0       97
29237  GSW  18.0  22.5  ...         100.0  109.5    123.5       98
29239  GSW -19.0 -18.0  ...         100.0   97.0    110.7       99
29240  TOR  -1.0  -6.0  ...         100.0  112.4    111.3      100
29243  GSW  13.0  12.5  ...         100.0  116.3    120.5      101

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
6         TOR0708              TOR07081       0.4820        15.34
35        TOR0708              TOR07082       0.4732        14.44
66        TOR0708              TOR07083       0.5876        16.06

            Date  O/U_open  O/U_close Season                 id  total away  \
11    2007-10-31     198.5      197.0   0708    20071031Orlando    185  MIL
29    2007-11-02     200.0      196.5   0708  20071102Charlotte    201  MIL
58    2007-11-03     193.5      193.0   0708  20071103Milwaukee    150  CHI
92    2007-11-06     191.0      190.0   0708  20071106Milwaukee    197  TOR
145   2007-11-09     191.0      188.5   0708    20071109Houston    192  MIL
...          ...       ...        ...    ...                ...    ...  ...
29218 2019-05-17     214.0      219.5   1819  20190517Milwaukee    228  TOR
29223 2019-05-19     220.5      222.0   1819    20190519Toronto    230  MIL
29227 2019-05-21     216.0      216.0   1819    20190521Toronto    222  MIL
29228 2019-05-23     218.0      215.5   1819  20190523Milwaukee    204  TOR
29231 2019-05-25     213.0      214.0   1819    20190525Toronto    194  MIL

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
11     ORL -13.5 -12.0  ...         100.0  115.7     94.2        1
29     CHA   1.0   4.5  ...         100.0  107.4    104.2        2
58     MIL -43.5 -43.0  ...         100.0   80.9     87.6        3
92     MIL   6.0   7.0  ...         100.0   91.4    120.4        4
145    HOU   1.0   3.5  ...         100.0  115.3     97.6        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29218  MIL  14.0   8.5  ...         100.0  101.2    122.9       92
29223  TOR   9.5   8.0  ...         100.0   98.1     93.1       93
29227  TOR   6.0   6.0  ...         100.0  125.1    106.3       94
29228  MIL -14.0 -11.5  ...         100.0  113.4    107.0       95
29231  TOR -19.0 -20.0  ...         100.0  116.8    109.8       96

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
11        MIL0708              MIL07081       0.4880        12.48
29        MIL0708              MIL07082       0.5024        15.68
58        MIL0708              MIL07083       0.4902        15.84
92        MIL0708              MIL07084       0.5204        13.28
145       MIL0708              MIL07085       0.4980        13.36
...           ...                   ...          ...          ...
29218     MIL1819             MIL181992       0.4852        13.12
29223     MIL1819             MIL181993       0.4994        10.58
29227     MIL1819             MIL181994       0.5108        12.08
29228     MIL1819             MIL181995       0.5220        11.80
29231     MIL1819             MIL181996       0.5278         9.76

       orb_rolling  ft_fga_rolling
11           29.68          0.2704
29           25.04          0.2152
58           24.62          0.2896
92           27.64          0.2810
145          26.72          0.2120
...            ...             ...
29218        25.80          0.2422
29223        17.66          0.2360
29227        20.70          0.1842
29228        21.36          0.1856
29231        18.78          0.2316

[963 rows x 86 columns]
            Date  O/U_open  O/U_close Season                    id  total  \
12    2007-10-31     188.0      186.0   0708     20071031NewJersey    215
34    2007-11-02     192.5      193.5   0708     20071102NewJersey    175
53    2007-11-03     186.5      186.5   0708  20071103Philadelphia    181
86    2007-11-06     190.5      188.5   0708     20071106NewJersey    169
122   2007-11-08     194.0      190.0   0708     20071108NewJersey    172
...          ...       ...        ...    ...                   ...    ...
11970 2012-04-16     192.0      192.5   1112     20120416NewJersey    199
12000 2012-04-18     192.0      193.0   1112     20120418NewJersey    199
12053 2012-04-21     160.0      209.0   1112     20120421Milwaukee    201
12078 2012-04-23     187.5      186.5   1112     20120423NewJersey    192
12127 2012-04-26     185.0      183.0   1112       20120426Toronto    165

      away home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
12     CHI  NJN  27.0  29.0  ...         100.0  104.5    113.6        1
34     TOR  NJN -17.5 -18.5  ...         100.0  122.9     80.0        2
53     NJN  PHI  -5.5  -5.5  ...         100.0   94.3     99.6        3
86     ATL  NJN -21.5 -19.5  ...         100.0   91.3     96.9        4
122    WAS  NJN -22.0 -18.0  ...         100.0   94.8     97.0        5
...    ...  ...   ...   ...  ...           ...    ...      ...      ...
11970  MIA  NJN   7.0   6.5  ...         100.0  112.8    109.4       60
12000  NYK  NJN   7.0   6.0  ...         100.0  113.7    103.8       61
12053  NJN  MIL  41.0  -8.0  ...         100.0  108.0     96.8       62
12078  PHI  NJN   4.5   5.5  ...         100.0  123.7    102.5       63
12127  NJN  TOR -20.0 -18.0  ...         100.0  109.1     74.6       64

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
12        NJN0708              NJN07081       0.4614        13.04
34        NJN0708              NJN07082       0.4930        13.82
53        NJN0708              NJN07083       0.4672        13.72
86        NJN0708              NJN07084       0.4828        12.48
122       NJN0708              NJN07085       0.4464        13.46
...           ...                   ...          ...          ...
11970     NJN1112             NJN111260       0.5102        10.86
12000     NJN1112             NJN111261       0.4942        11.26
12053     NJN1112             NJN111262       0.4832        12.80
12078     NJN1112             NJN111263       0.4716        16.72
12127     NJN1112             NJN111264       0.4568        16.86

       orb_rolling  ft_fga_rolling
12           31.86          0.2650
34           28.88          0.1854
53           25.24          0.2772
86           28.72          0.2588
122          31.58          0.2240
...            ...             ...
11970        24.34          0.1756
12000        21.50          0.1790
12053        32.04          0.2196
12078        29.18          0.2336
12127        22.12          0.1814

[386 rows x 86 columns]
            Date  O/U_open  O/U_close Season                    id  total  \
13    2007-10-31     188.0      186.0   0708     20071031NewJersey    215
46    2007-11-02     189.0      190.0   0708       20071102Chicago    181
59    2007-11-03     193.5      193.0   0708     20071103Milwaukee    150
96    2007-11-06     193.0      193.0   0708       20071106Chicago    188
124   2007-11-08     184.0      182.0   0708       20071108Chicago    190
...          ...       ...        ...    ...                   ...    ...
28941 2019-04-01     212.5      213.0   1819       20190401NewYork    218
28963 2019-04-03     228.0      225.5   1819    20190403Washington    229
29012 2019-04-06     226.0      227.5   1819       20190406Chicago    212
29050 2019-04-09     215.0      215.0   1819       20190409Chicago    182
29071 2019-04-10     223.0      218.5   1819  20190410Philadelphia    234

      away home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
13     CHI  NJN  27.0  29.0  ...         100.0  113.6    104.5        1
46     PHI  CHI  -8.0  -9.0  ...         100.0  101.4     89.8        2
59     CHI  MIL -43.5 -43.0  ...         100.0   87.6     80.9        3
96     LAC  CHI  -5.0  -5.0  ...         100.0  107.5    100.8        4
124    DET  CHI   6.0   8.0  ...         100.0   99.8    104.1        5
...    ...  ...   ...   ...  ...           ...    ...      ...      ...
28941  CHI  NYK   5.5   5.0  ...         100.0  119.2    110.8       75
28963  CHI  WAS   1.0   3.5  ...         100.0  105.7    106.7       76
29012  PHI  CHI -14.0 -15.5  ...         100.0  120.2     99.5       77
29050  NYK  CHI -33.0 -33.0  ...         100.0  100.7     90.2       78
29071  CHI  PHI  11.0  15.5  ...         100.0  129.8    113.2       79

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
13        CHI0708              CHI07081       0.4516        12.82
46        CHI0708              CHI07082       0.4854        13.90
59        CHI0708              CHI07083       0.4700        15.74
96        CHI0708              CHI07084       0.5216        13.98
124       CHI0708              CHI07085       0.4246        13.28
...           ...                   ...          ...          ...
28941     CHI1819             CHI181975       0.5642        13.86
28963     CHI1819             CHI181976       0.4876        11.70
29012     CHI1819             CHI181977       0.5726        10.80
29050     CHI1819             CHI181978       0.5560        10.36
29071     CHI1819             CHI181979       0.5416         8.72

       orb_rolling  ft_fga_rolling
13           31.72          0.3210
46           23.70          0.2288
59           24.58          0.3026
96           25.06          0.2108
124          28.10          0.2744
...            ...             ...
28941        20.14          0.2360
28963        24.24          0.1826
29012        25.68          0.2140
29050        20.72          0.1494
29071        18.56          0.1194

[971 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
14    2007-10-31     186.0      184.0   0708    20071031Cleveland    166  DAL
38    2007-11-02     186.5      186.0   0708    20071102Cleveland    216  NYK
79    2007-11-04     208.5      205.0   0708      20071104Phoenix    195  CLE
101   2007-11-06     209.0      209.5   0708  20071106GoldenState    212  CLE
117   2007-11-07     196.0      194.5   0708         20071107Utah    204  CLE
...          ...       ...        ...    ...                  ...    ...  ...
28949 2019-04-01     221.5      224.0   1819      20190401Phoenix    235  CLE
28983 2019-04-04     228.5      229.5   1819   20190404Sacramento    221  CLE
29005 2019-04-05     225.0      225.0   1819  20190405GoldenState    234  CLE
29016 2019-04-07     219.0      219.5   1819    20190407Cleveland    202  SAS
29044 2019-04-09     220.5      220.5   1819    20190409Cleveland    221  CHO

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
14     CLE -20.0 -18.0  ...         100.0  107.1     86.1        1
38     CLE  29.5  30.0  ...         100.0  115.3    119.7        2
79     PHO -13.5 -10.0  ...         100.0  104.4     93.2        3
101    GSW   3.0   2.5  ...         100.0  103.8    107.8        4
117    UTA   8.0   9.5  ...         100.0  104.8    102.8        5
...    ...   ...   ...  ...           ...    ...      ...      ...
28949  PHO  13.5  11.0  ...         100.0  124.3    115.1       77
28983  SAC  -7.5  -8.5  ...         100.0  121.6    108.1       78
29005  GSW   9.0   9.0  ...         100.0  123.1    117.0       79
29016  CLE -17.0 -17.5  ...         100.0  116.6     93.7       80
29044  CLE   0.5   0.5  ...         100.0  138.1    108.1       81

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
14        CLE0708              CLE07081       0.4424        12.70
38        CLE0708              CLE07082       0.4738        14.12
79        CLE0708              CLE07083       0.4528        13.46
101       CLE0708              CLE07084       0.4736        14.48
117       CLE0708              CLE07085       0.5300        17.26
...           ...                   ...          ...          ...
28949     CLE1819             CLE181977       0.5190        10.62
28983     CLE1819             CLE181978       0.5598        10.60
29005     CLE1819             CLE181979       0.5546        11.86
29016     CLE1819             CLE181980       0.5308         8.90
29044     CLE1819             CLE181981       0.5402        13.20

       orb_rolling  ft_fga_rolling
14           32.92          0.2954
38           23.50          0.1988
79           26.68          0.2176
101          28.38          0.2590
117          20.12          0.2472
...            ...             ...
28949        17.32          0.2310
28983        18.34          0.2112
29005        21.40          0.1652
29016        18.58          0.1790
29044        28.52          0.1934

[1026 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
15    2007-10-31     186.0      184.0   0708    20071031Cleveland    166  DAL
37    2007-11-02     192.0      191.0   0708      20071102Atlanta    195  DAL
62    2007-11-03     189.5      189.0   0708       20071103Dallas    225  SAC
82    2007-11-05     190.0      189.5   0708       20071105Dallas    205  HOU
127   2007-11-08     213.5      216.0   0708  20071108GoldenState    235  DAL
...          ...       ...        ...    ...                  ...    ...  ...
28970 2019-04-03     223.5      227.0   1819       20190403Dallas    218  MIN
28998 2019-04-05     215.0      211.5   1819       20190405Dallas    234  MEM
29025 2019-04-07     210.5      214.0   1819      20190407Memphis    256  DAL
29056 2019-04-09     223.0      225.0   1819       20190409Dallas    229  PHO
29069 2019-04-10     218.0      219.0   1819   20190410SanAntonio    199  DAL

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
15     CLE -20.0 -18.0  ...         100.0   86.1    107.1        1
37     ATL   3.0   4.0  ...         100.0  109.4    101.8        2
62     DAL  35.5  36.0  ...         100.0  118.0    142.3        3
82     DAL  15.0  15.5  ...         100.0  106.8    116.6        4
127    GSW  21.5  19.0  ...         100.0  117.0    122.1        5
...    ...   ...   ...  ...           ...    ...      ...      ...
28970  DAL  -5.5  -9.0  ...         100.0  112.0    110.0       75
28998  DAL  19.0  22.5  ...         100.0  123.4    113.3       76
29025  MEM  45.5  42.0  ...         100.0  120.8    122.7       77
29056  DAL   6.0   4.0  ...         100.0  102.9    113.3       78
29069  SAS -19.0 -20.0  ...         100.0  110.0     98.5       79

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
15        DAL0708              DAL07081       0.4402        12.98
37        DAL0708              DAL07082       0.4692        14.78
62        DAL0708              DAL07083       0.4292        14.86
82        DAL0708              DAL07084       0.4928        14.08
127       DAL0708              DAL07085       0.4712        13.28
...           ...                   ...          ...          ...
28970     DAL1819             DAL181975       0.5166        11.10
28998     DAL1819             DAL181976       0.5470        13.50
29025     DAL1819             DAL181977       0.4994         9.08
29056     DAL1819             DAL181978       0.5234        11.32
29069     DAL1819             DAL181979       0.5570        10.60

       orb_rolling  ft_fga_rolling
15           32.64          0.2698
37           25.48          0.1826
62           25.72          0.2124
82           22.36          0.2464
127          22.22          0.2774
...            ...             ...
28970        25.92          0.1908
28998        22.74          0.1820
29025        24.28          0.1662
29056        17.08          0.1122
29069        22.08          0.1368

[964 rows x 86 columns]
            Date  O/U_open  O/U_close Season                id  total away  \
16    2007-10-31     198.0      201.0   0708   20071031Memphis    205  SAS
56    2007-11-03     211.5      211.5   0708   20071103Memphis    232  IND
119   2007-11-07     219.5      218.5   0708   20071107Seattle    203  MEM
161   2007-11-10     219.0      216.0   0708      20071110Utah    212  MEM
190   2007-11-13     198.5      201.5   0708   20071113Memphis    204  HOU
...          ...       ...        ...    ...               ...    ...  ...
28977 2019-04-03     216.0      216.5   1819  20190403Portland    205  MEM
28999 2019-04-05     215.0      211.5   1819    20190405Dallas    234  MEM
29024 2019-04-07     210.5      214.0   1819   20190407Memphis    256  DAL
29043 2019-04-09     209.5      210.0   1819   20190409Detroit    193  MEM
29064 2019-04-10     219.0      214.5   1819   20190410Memphis    249  GSW

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
16     MEM   7.0   4.0  ...         100.0  108.5    105.4        1
56     MEM  20.5  20.5  ...         100.0  113.5    104.1        2
119    SEA -16.5 -15.5  ...         100.0  100.2    107.4        3
161    UTA  -7.0  -4.0  ...         100.0  119.0     94.8        4
190    MEM   5.5   2.5  ...         100.0  106.4    112.9        5
...    ...   ...   ...  ...           ...    ...      ...      ...
28977  POR -11.0 -11.5  ...         100.0  120.3     92.3       76
28999  DAL  19.0  22.5  ...         100.0  113.3    123.4       77
29024  MEM  45.5  42.0  ...         100.0  122.7    120.8       78
29043  DET -16.5 -17.0  ...         100.0  109.6    101.9       79
29064  MEM  30.0  34.5  ...         100.0  117.2    132.2       80

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
16        MEM0708              MEM07081       0.4446        14.36
56        MEM0708              MEM07082       0.4516        12.58
119       MEM0708              MEM07083       0.4820        15.40
161       MEM0708              MEM07084       0.5072        15.38
190       MEM0708              MEM07085       0.4168        12.80
...           ...                   ...          ...          ...
28977     MEM1819             MEM181976       0.5502        12.76
28999     MEM1819             MEM181977       0.5382        13.08
29024     MEM1819             MEM181978       0.5138        10.12
29043     MEM1819             MEM181979       0.5364         9.94
29064     MEM1819             MEM181980       0.5038        10.44

       orb_rolling  ft_fga_rolling
16           30.80          0.2478
56           25.98          0.2180
119          24.42          0.2466
161          23.22          0.2432
190          22.06          0.2342
...            ...             ...
28977        24.28          0.1356
28999        23.88          0.1786
29024        27.28          0.1650
29043        29.90          0.1680
29064        23.84          0.1694

[971 rows x 86 columns]
            Date  O/U_open  O/U_close Season                  id  total away  \
18    2007-10-31     193.0      190.5   0708  20071031NewOrleans    194  SAC
42    2007-11-02     192.0      203.0   0708  20071102NewOrleans    206  POR
77    2007-11-04     216.0      214.5   0708      20071104Denver    181  NOH
103   2007-11-06     207.0      205.5   0708    20071106LALakers    222  NOH
121   2007-11-07     202.0      201.5   0708    20071107Portland    183  NOH
...          ...       ...        ...    ...                 ...    ...  ...
14567 2013-04-09     196.0      193.5   1213    20130409LALakers    200  NOH
14583 2013-04-10     201.5      205.0   1213  20130410Sacramento    231  NOH
14608 2013-04-12     193.0      192.0   1213  20130412NewOrleans    189  LAC
14638 2013-04-14     194.0      196.5   1213  20130414NewOrleans    196  DAL
14685 2013-04-17     197.5      197.0   1213      20130417Dallas    186  NOH

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
18     NOH   1.0   3.5  ...         100.0   96.7    111.8        1
42     NOH  14.0   3.0  ...         100.0  106.1    128.9        2
77     DEN -35.0 -33.5  ...         100.0   89.6     94.7        3
103    LAL  15.0  16.5  ...         100.0  105.0    119.2        4
121    POR -19.0 -18.5  ...         100.0  102.4     99.1        5
...    ...   ...   ...  ...           ...    ...      ...      ...
14567  LAL   4.0   6.5  ...         100.0  110.0    101.6       77
14583  SAC  29.5  26.0  ...         100.0  126.2    114.7       78
14608  NOH  -4.0  -3.0  ...         100.0  108.1    104.7       79
14638  NOH   2.0  -0.5  ...         100.0  127.2    105.8       80
14685  DAL -11.5 -11.0  ...         100.0  111.0     97.6       81

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
18        NOH0708              NOH07081       0.4816        13.36
42        NOH0708              NOH07082       0.4772        12.60
77        NOH0708              NOH07083       0.4662        15.14
103       NOH0708              NOH07084       0.5050        14.32

            Date  O/U_open  O/U_close Season                    id  total  \
28    2007-11-02     200.0      196.5   0708     20071102Charlotte    201
73    2007-11-04     186.0      186.5   0708         20071104Miami    178
84    2007-11-06     210.0      207.0   0708     20071106Charlotte    198
111   2007-11-07     190.0      189.0   0708  20071107Philadelphia    157
130   2007-11-09     194.5      195.0   0708     20071109Charlotte    183
...          ...       ...        ...    ...                   ...    ...
17250 2014-04-16     182.0      180.5   1314     20140416Charlotte    177
17271 2014-04-20     189.5      185.5   1314         20140420Miami    187
17287 2014-04-23     185.5      187.5   1314         20140423Miami    198
17308 2014-04-26     188.0      187.0   1314     20140426Charlotte    183
17320 2014-04-28     187.0      187.5   1314     20140428Charlotte    207

      away home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
28     MIL  CHA   1.0   4.5  ...         100.0  104.2    107.4        1
73     CHA  MIA  -8.0  -8.5  ...         100.0  102.9    105.2        2
84     PHO  CHA -12.0  -9.0  ...         100.0  125.8     90.8        3
111    CHA  PHI -33.0 -32.0  ...         100.0  105.3     70.6        4
130    IND  CHA -11.5 -12.0  ...         100.0   94.7    104.5        5
...    ...  ...   ...   ...  ...           ...    ...      ...      ...
17250  CHI  CHA  -5.0  -3.5  ...         100.0   91.9     97.2       78
17271  CHA  MIA  -2.5   1.5  ...         100.0  113.3    100.7       79
17287  CHA  MIA  12.5  10.5  ...         100.0  110.6    106.3       80
17308  MIA  CHA  -5.0  -4.0  ...         100.0  110.6     95.9       81
17320  MIA  CHA  20.0  19.5  ...         100.0  119.6    107.6       82

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
28        CHA0708              CHA07081       0.4822        14.44
73        CHA0708              CHA07082       0.4936        13.76
84        CHA0708              CHA07083       0.5048        13.82
111       CHA0708              CHA07084       0.4644        14.70
130       CHA0708              CHA07085       0.5232        11.66
...           ...                   ...          ...          ...
17250     CHA1314             CHA131478       0.5334        14.76
17271     CHA1314             CHA131479       0.4838        11.42
17287     CHA1314             CHA131480       0.5110        13.64
17308     CHA1314             CHA131481       0.5190        11.50
17320     CHA1314             CHA131482       0.4994        13.60

       orb_rolling  ft_fga_rolling
28           22.90          0.2150
73           26.40          0.2614
84           23.26          0.2752
111          28.18          0.2540
130          24.26          0.2738
...            ...             ...
17250        20.48          0.1868
17271        24.50          0.2048
17287        28.32          0.2602
17308        27.24          0.1710
17320        23.56          0.2736

[549 rows x 86 columns]
            Date  O/U_open  O/U_close Season                  id  total away  \
36    2007-11-02     192.0      191.0   0708     20071102Atlanta    195  DAL
75    2007-11-04     188.5      191.0   0708     20071104Detroit    183  ATL
87    2007-11-06     190.5      188.5   0708   20071106NewJersey    169  ATL
106   2007-11-07     208.5      207.0   0708     20071107Atlanta    201  PHO
133   2007-11-09     194.0      193.0   0708      20071109Boston    189  ATL
...          ...       ...        ...    ...                 ...    ...  ...
28953 2019-04-02     227.0      230.0   1819  20190402SanAntonio    228  ATL
28964 2019-04-03     236.5      239.5   1819     20190403Atlanta    252  PHI
28989 2019-04-05     226.5      225.5   1819     20190405Orlando    262  ATL
29027 2019-04-07     235.0      235.0   1819   20190407Milwaukee    222  ATL
29074 2019-04-10     225.0      225.5   1819     20190410Atlanta    269  IND

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
36     ATL   3.0   4.0  ...         100.0  101.8    109.4        1
75     DET  -5.5  -8.0  ...         100.0  104.4    103.2        2
87     NJN -21.5 -19.5  ...         100.0   96.9     91.3        3
106    ATL  -7.5  -6.0  ...         100.0  100.1    109.4        4
133    BOS  -5.0  -4.0  ...         100.0  118.9     93.1        5
...    ...   ...   ...  ...           ...    ...      ...      ...
28953  SAS   1.0  -2.0  ...         100.0  116.0    110.0       78
28964  ATL  15.5  12.5  ...         100.0  120.2    128.0       79
28989  ORL  35.5  36.5  ...         100.0  134.4    101.9       80
29027  MIL -13.0 -13.0  ...         100.0  106.8     99.3       81
29074  ATL  44.0  43.5  ...         100.0  125.3    124.4       82

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
36        ATL0708              ATL07081       0.5004        14.62
75        ATL0708              ATL07082       0.4942        14.26
87        ATL0708              ATL07083       0.4740        12.94
106       ATL0708              ATL07084       0.5170        11.82
133       ATL0708              ATL07085       0.5220        14.48
...           ...                   ...          ...          ...
28953     ATL1819             ATL181978       0.5658        12.80
28964     ATL1819             ATL181979       0.5086        11.78
28989     ATL1819             ATL181980       0.5550        11.72
29027     ATL1819             ATL181981       0.5186         9.78
29074     ATL1819             ATL181982       0.5594         6.58

       orb_rolling  ft_fga_rolling
36           24.72          0.1824
75           28.22          0.2464
87           30.70          0.2338
106          21.40          0.1954
133          28.48          0.2736
...            ...             ...
28953        20.58          0.1586
28964        23.98          0.1738
28989        25.36          0.1456
29027        22.54          0.2094
29074        18.36          0.1558

[1000 rows x 86 columns]
            Date  O/U_open  O/U_close Season                 id  total away  \
39    2007-11-02     186.5      186.0   0708  20071102Cleveland    216  NYK
70    2007-11-04     192.5      193.0   0708    20071104NewYork    190  MIN
88    2007-11-06     213.0      211.0   0708    20071106NewYork    231  DEN
134   2007-11-09     198.5      201.5   0708    20071109NewYork    214  ORL
170   2007-11-11     196.0      192.0   0708    20071111NewYork    147  MIA
...          ...       ...        ...    ...                ...    ...  ...
28961 2019-04-03     212.5      212.5   1819    20190403Orlando    214  NYK
28991 2019-04-05     220.5      216.5   1819    20190405Houston    216  NYK
29032 2019-04-07     226.0      226.0   1819    20190407NewYork    223  WAS
29051 2019-04-09     215.0      215.0   1819    20190409Chicago    182  NYK
29078 2019-04-10     208.0      205.0   1819    20190410NewYork    204  DET

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
39     CLE  29.5  30.0  ...         100.0  119.7    115.3        1
70     NYK  -2.5  -3.0  ...         100.0  107.9    112.6        2
88     NYK  18.0  20.0  ...         100.0  111.2    118.1        3
134    NYK  15.5  12.5  ...         100.0  109.9    100.1        4
170    NYK -49.0 -45.0  ...         100.0   89.7     86.2        5
...    ...   ...   ...  ...           ...    ...      ...      ...
28961  ORL   1.5   1.5  ...         100.0  117.3    102.9       77
28991  HOU  -4.5  -0.5  ...         100.0  115.1     92.1       78
29032  NYK  -3.0  -3.0  ...         100.0  116.4    119.6       79
29051  CHI -33.0 -33.0  ...         100.0   90.2    100.7       80
29078  NYK  -4.0  -1.0  ...         100.0  123.0     95.2       81

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
39        NYK0708              NYK07081       0.4980        13.68
70        NYK0708              NYK07082       0.5060        15.14
88        NYK0708              NYK07083       0.4570        14.34
134       NYK0708              NYK07084       0.5160        16.26
170       NYK0708              NYK07085       0.4632        15.38
...           ...                   ...          ...          ...
28961     NYK1819             NYK181977       0.4982        13.88
28991     NYK1819             NYK181978       0.5748         9.80
29032     NYK1819             NYK181979       0.5466        10.48
29051     NYK1819             NYK181980       0.4932         9.62
29078     NYK1819             NYK181981       0.5052         9.16

       orb_rolling  ft_fga_rolling
39           23.54          0.2448
70           24.62          0.2338
88           30.02          0.2312
134          26.80          0.2886
170          27.84          0.1998
...            ...             ...
28961        27.70          0.1556
28991        22.14          0.1904
29032        19.62          0.1622
29051        19.74          0.1644
29078        27.24          0.1926

[935 rows x 86 columns]
            Date  O/U_open  O/U_close Season                 id  total away  \
40    2007-11-02     208.0      205.5   0708     20071102Boston    186  WAS
67    2007-11-04     192.0      194.0   0708    20071104Toronto    193  BOS
112   2007-11-07     203.0      202.5   0708     20071107Boston    212  DEN
132   2007-11-09     194.0      193.0   0708     20071109Boston    189  ATL
157   2007-11-10     186.0      182.5   0708  20071110NewJersey    213  BOS
...          ...       ...        ...    ...                ...    ...  ...
29167 2019-04-28     224.0      223.0   1819  20190428Milwaukee    202  BOS
29175 2019-04-30     220.5      219.0   1819  20190430Milwaukee    225  BOS
29182 2019-05-03     220.0      220.0   1819     20190503Boston    239  MIL
29192 2019-05-06     221.0      221.5   1819     20190506Boston    214  MIL
29201 2019-05-08     217.5      220.5   1819  20190508Milwaukee    207  BOS

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
40     BOS -22.0 -19.5  ...         100.0   85.5    106.0        1
67     TOR   1.0  -1.0  ...         100.0  100.3    103.5        2
112    BOS   9.0   9.5  ...         100.0   93.2    119.3        3
132    BOS  -5.0  -4.0  ...         100.0   93.1    118.9        4
157    NJN  27.0  30.5  ...         100.0  108.1    119.9        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29167  MIL -22.0 -21.0  ...         100.0   91.5    113.9       85
29175  MIL   4.5   6.0  ...         100.0  121.5    100.8       86
29182  BOS  19.0  19.0  ...         100.0  117.4    110.7       87
29192  BOS  -7.0  -7.5  ...         100.0  108.4     96.8       88
29201  MIL -10.5 -13.5  ...         100.0  109.6     86.0       89

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
40        BOS0708              BOS07081       0.5166        11.64
67        BOS0708              BOS07082       0.5878        14.80
112       BOS0708              BOS07083       0.4302        16.62
132       BOS0708              BOS07084       0.5046        12.96
157       BOS0708              BOS07085       0.5074        14.20
...           ...                   ...          ...          ...
29167     BOS1819             BOS181985       0.4522         8.52
29175     BOS1819             BOS181986       0.5198        12.76
29182     BOS1819             BOS181987       0.4934        10.86
29192     BOS1819             BOS181988       0.5124        10.24
29201     BOS1819             BOS181989       0.5038        10.10

       orb_rolling  ft_fga_rolling
40           26.76          0.2374
67           31.26          0.2904
112          28.60          0.2572
132          27.96          0.2826
157          20.44          0.2062
...            ...             ...
29167        17.30          0.1916
29175        21.56          0.2652
29182        24.68          0.2132
29192        24.98          0.2556
29201        18.64          0.2448

[1059 rows x 86 columns]
            Date  O/U_open  O/U_close Season                 id  total away  \
44    2007-11-02     209.0      208.5   0708  20071102Minnesota    190  DEN
71    2007-11-04     192.5      193.0   0708    20071104NewYork    190  MIN
90    2007-11-06     190.0      186.5   0708  20071106Minnesota    214  ORL
149   2007-11-09     201.0      204.0   0708   20071109LALakers    200  MIN
210   2007-11-14     194.0      190.5   0708  20071114Minnesota    211  SAC
...          ...       ...        ...    ...                ...    ...  ...
28971 2019-04-03     223.5      227.0   1819     20190403Dallas    218  MIN
28994 2019-04-05     216.5      218.5   1819  20190405Minnesota    220  MIA
29018 2019-04-07     230.0      229.0   1819  20190407Minnesota    258  OKC
29052 2019-04-09     229.0      227.0   1819  20190409Minnesota    220  TOR
29081 2019-04-10     218.5      218.5   1819     20190410Denver    194  MIN

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
44     MIN -19.0 -18.5  ...         100.0  102.1     93.8        1
71     NYK  -2.5  -3.0  ...         100.0  112.6    107.9        2
90     MIN  24.0  27.5  ...         100.0  122.0    113.2        3
149    LAL  -1.0  -4.0  ...         100.0  113.5     98.6        4
210    MIN  17.0  20.5  ...         100.0  109.7    115.1        5
...    ...   ...   ...  ...           ...    ...      ...      ...
28971  DAL  -5.5  -9.0  ...         100.0  110.0    112.0       76
28994  MIN   3.5   1.5  ...         100.0  108.1    110.1       77
29018  MIN  28.0  29.0  ...         100.0  130.7    124.8       78
29052  MIN  -9.0  -7.0  ...         100.0  115.7     96.4       79
29081  DEN -24.5 -24.5  ...         100.0  105.5    101.2       80

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
44        MIN0708              MIN07081       0.5066        13.08
71        MIN0708              MIN07082       0.4912        14.40
90        MIN0708              MIN07083       0.5082        13.80
149       MIN0708              MIN07084       0.4740        13.44
210       MIN0708              MIN07085       0.4754        15.32
...           ...                   ...          ...          ...
28971     MIN1819             MIN181976       0.5136        11.32
28994     MIN1819             MIN181977       0.5078        10.08
29018     MIN1819             MIN181978       0.5222        12.10
29052     MIN1819             MIN181979       0.4888         8.80
29081     MIN1819             MIN181980       0.4860        11.14

       orb_rolling  ft_fga_rolling
44           27.72          0.1954
71           23.26          0.2832
90           29.74          0.2256
149          30.76          0.2710
210          30.74          0.2662
...            ...             ...
28971        22.44          0.1780
28994        15.54          0.1618
29018        21.22          0.2068
29052        18.54          0.1528
29081        21.28          0.1478

[916 rows x 86 columns]
            Date  O/U_open  O/U_close Season                   id  total away  \
50    2007-11-02     209.0      211.0   0708   20071102LAClippers    234  GSW
68    2007-11-04     209.5      208.0   0708   20071104LAClippers    216  SEA
97    2007-11-06     193.0      193.0   0708      20071106Chicago    188  LAC
109   2007-11-07     200.5      207.5   0708      20071107Indiana    193  LAC
139   2007-11-09     192.0      191.5   0708      20071109Detroit    182  LAC
...          ...       ...        ...    ...                  ...    ...  ...
29091 2019-04-13     230.5      234.0   1819  20190413GoldenState    225  LAC
29105 2019-04-15     230.5      234.0   1819  20190415GoldenState    266  LAC
29136 2019-04-21     235.0      236.0   1819   20190421LAClippers    218  GSW
29155 2019-04-24     235.0      231.5   1819  20190424GoldenState    250  LAC
29160 2019-04-26     234.5      232.0   1819   20190426LAClippers    239  GSW

      home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
50     LAC  25.0  23.0  ...         100.0  113.0    119.0        1
68     LAC   6.5   8.0  ...         100.0   98.3    111.9        2
97     CHI  -5.0  -5.0  ...         100.0  100.8    107.5        3
109    IND  -7.5 -14.5  ...         100.0   91.2    106.6        4
139    DET -10.0  -9.5  ...         100.0  114.6     87.9        5
...    ...   ...   ...  ...           ...    ...      ...      ...
29091  GSW  -5.5  -9.0  ...         100.0  110.7     95.1       81
29105  GSW  35.5  32.0  ...         100.0  121.7    125.4       82
29136  LAC -17.0 -18.0  ...         100.0  116.6    108.3       83
29155  GSW  15.0  18.5  ...         100.0  128.0    136.4       84
29160  LAC   4.5   7.0  ...         100.0  124.8    106.4       85

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
50        LAC0708              LAC07081       0.4462        15.88
68        LAC0708              LAC07082       0.5510        15.18
97        LAC0708              LAC07083       0.4858        14.36
109       LAC0708              LAC07084       0.4732        12.92
139       LAC0708              LAC07085       0.5134        13.42
...           ...                   ...          ...          ...
29091     LAC1819             LAC181981       0.4968        11.92
29105     LAC1819             LAC181982       0.5588        13.28
29136     LAC1819             LAC181983       0.5066        12.64
29155     LAC1819             LAC181984       0.5104        12.30
29160     LAC1819             LAC181985       0.5368        10.32

       orb_rolling  ft_fga_rolling
50           26.14          0.2770
68           29.40          0.2618
97           26.72          0.1948
109          23.16          0.2170
139          25.42          0.1992
...            ...             ...
29091        22.96          0.2194
29105        25.26          0.2914
29136        20.86          0.2910
29155        22.98          0.1922
29160        26.54          0.1754

[970 rows x 86 columns]
            Date  O/U_open  O/U_close Season                    id  total  \
2568  2008-10-29     198.0      200.0   0809  20081029OklahomaCity    185
2623  2008-11-01     192.0      192.5   0809       20081101Houston    166
2632  2008-11-02     192.5      189.0   0809  20081102OklahomaCity    173
2660  2008-11-05     180.5      182.0   0809  20081105OklahomaCity    179
2699  2008-11-07     181.5      186.5   0809          20081107Utah    201
...          ...       ...        ...    ...                   ...    ...
29097 2019-04-14     224.0      224.5   1819      20190414Portland    203
29111 2019-04-16     218.0      224.5   1819      20190416Portland    208
29124 2019-04-19     221.5      221.0   1819  20190419OklahomaCity    228
29140 2019-04-21     223.5      222.0   1819  20190421OklahomaCity    209
29149 2019-04-23     219.5      222.0   1819      20190423Portland    233

      away home   ou1   ou2  ...  user_per_opp   drtg drtg_opp game_num  \
2568   MIL  OKC -13.0 -15.0  ...         100.0  109.4     97.1        1
2623   OKC  HOU -26.0 -26.5  ...         100.0   93.2     80.6        2
2632   MIN  OKC -19.5 -16.0  ...         100.0   97.6    101.0        3
2660   BOS  OKC  -1.5  -3.0  ...         100.0  105.1     90.9        4
2699   OKC  UTA  19.5  14.5  ...         100.0  109.6    102.2        5
...    ...  ...   ...   ...  ...           ...    ...      ...      ...
29097  OKC  POR -21.0 -21.5  ...         100.0  105.7    100.6       79
29111  OKC  POR -10.0 -16.5  ...         100.0  113.6     93.7       80
29124  POR  OKC   6.5   7.0  ...         100.0  110.7    123.0       81
29140  POR  OKC -14.5 -13.0  ...         100.0  108.5     95.8       82
29149  OKC  POR  13.5  11.0  ...         100.0  118.5    115.5       83

      team_season  team_season_game_num  eFg_rolling  tov_rolling  \
2568      OKC0809              OKC08091       0.5062        13.42
2623      OKC0809              OKC08092       0.4564        14.92
2632      OKC0809              OKC08093       0.4866        12.52
2660      OKC0809              OKC08094       0.5192        17.56

In [448]:
for season in d4['Season'].unique():
    mask = d4['Season'] == '{}'.format(season)
    d5 = d4[mask]
    d5
    for stat in list(d5.iloc[:,15:79].columns):
        d5['{}_rolling'.format(stat)] = d5.rolling(window=5)['{}'.format(stat)].mean().shift(1)
    #print(len(d4[d4['Season'] == '{}'.format(season)]))

<ipython-input-448-5df8bbc9ddd1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d5['{}_rolling'.format(stat)] = d5.rolling(window=5)['{}'.format(stat)].mean().shift(1)

In [449]:
d5

,Date,O/U_open,O/U_close,Season,id,total,away,home,ou1,ou2,...,ast_per_rolling,ast_per_opp_rolling,stl_per_rolling,stl_per_opp_rolling,blk_per_rolling,blk_per_opp_rolling,user_per_rolling,user_per_opp_rolling,drtg_rolling,drtg_opp_rolling
26684,2018-10-17,217.0,222.0,1819,20181017Charlotte,225,MIL,CHO,8.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26711,2018-10-19,217.0,215.5,1819,20181019Orlando,208,CHO,ORL,-9.0,-7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26737,2018-10-20,216.5,220.5,1819,20181020Miami,225,CHO,MIA,8.5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26757,2018-10-22,221.0,225.0,1819,20181022Toronto,233,CHO,TOR,12.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26789,2018-10-24,227.0,229.5,1819,20181024Chicago,222,CHO,CHI,-5.0,-7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28947,2019-04-01,218.0,218.0,1819,20190401Utah,213,CHO,UTA,-5.0,-5.0,...,69.40,66.70,8.96,6.34,6.84,13.36,100.0,100.0,124.18,114.84
28969,2019-04-03,231.0,229.5,1819,20190403NewOrleans,224,CHO,NOP,-7.0,-5.5,...,65.36,68.38,9.96,6.54,5.74,11.56,100.0,100.0,122.98,110.46
29021,2019-04-07,214.5,217.5,1819,20190407Detroit,195,CHO,DET,-19.5,-22.5,...,59.76,68.00,9.86,6.58,6.84,8.74,100.0,100.0,119.10,107.52
29045,2019-04-09,220.5,220.5,1819,20190409Cleveland,221,CHO,CLE,0.5,0.5,...,58.82,68.86,9.34,6.52,6.58,9.48,100.0,100.0,118.26,107.94
29072,2019-04-10,219.0,217.5,1819,20190410Charlotte,236,ORL,CHO,17.0,18.5,...,62.00,67.52,9.48,5.54,8.20,9.84,100.0,100.0,113.58,112.12

In [428]:
for season in d_gsw['Season'].unique():
    print(len(d_gsw[d_gsw['Season'] == '{}'.format(season)]))

81
82
78
79
66
89
89
100
70
98
96
102

In [415]:
mask = d_gsw['Season'] == '0708'
d3 = d_gsw[mask]
d3

,team_season_game_num,team_season,Season,team,game_num,eFg,tov,orb,ft_fga
0,GSW07081,GSW0708,0708,GSW,1,0.455,17.6,14.9,0.338
1,GSW07082,GSW0708,0708,GSW,2,0.505,8.7,22.4,0.202
2,GSW07083,GSW0708,0708,GSW,3,0.589,18.3,29.7,0.215
3,GSW07084,GSW0708,0708,GSW,4,0.473,9.7,19.1,0.198
4,GSW07085,GSW0708,0708,GSW,5,0.556,6.4,17.0,0.180
...,...,...,...,...,...,...,...,...,...
76,GSW070877,GSW0708,0708,GSW,77,0.581,12.8,42.5,0.465
77,GSW070878,GSW0708,0708,GSW,78,0.450,14.0,32.8,0.150
78,GSW070879,GSW0708,0708,GSW,79,0.522,7.8,20.8,0.297
79,GSW070880,GSW0708,0708,GSW,80,0.490,7.4,26.9,0.135
80,GSW070881,GSW0708,0708,GSW,81,0.495,9.3,32.8,0.109

In [417]:
stat_list = list(d3.iloc[:,5:].columns)

In [435]:
for stat in stat_list:
    d3['{}_rolling'.format(stat)] = d3.rolling(window=5)['{}'.format(stat)].mean().shift(1)

<ipython-input-435-4264b3fda992>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3['{}_rolling'.format(stat)] = d3.rolling(window=5)['{}'.format(stat)].mean().shift(1)

In [436]:
d3

,team_season_game_num,team_season,Season,team,game_num,eFg,tov,orb,ft_fga,eFg_rolling,tov_rolling,orb_rolling,ft_fga_rolling
0,GSW07081,GSW0708,0708,GSW,1,0.455,17.6,14.9,0.338,NaN,NaN,NaN,NaN
1,GSW07082,GSW0708,0708,GSW,2,0.505,8.7,22.4,0.202,NaN,NaN,NaN,NaN
2,GSW07083,GSW0708,0708,GSW,3,0.589,18.3,29.7,0.215,NaN,NaN,NaN,NaN
3,GSW07084,GSW0708,0708,GSW,4,0.473,9.7,19.1,0.198,NaN,NaN,NaN,NaN
4,GSW07085,GSW0708,0708,GSW,5,0.556,6.4,17.0,0.180,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,GSW070877,GSW0708,0708,GSW,77,0.581,12.8,42.5,0.465,0.4766,12.64,26.40,0.1830
77,GSW070878,GSW0708,0708,GSW,78,0.450,14.0,32.8,0.150,0.4916,13.72,27.92,0.2102
78,GSW070879,GSW0708,0708,GSW,79,0.522,7.8,20.8,0.297,0.4976,14.18,30.48,0.1992
79,GSW070880,GSW0708,0708,GSW,80,0.490,7.4,26.9,0.135,0.5206,13.00,29.94,0.2214
80,GSW070881,GSW0708,0708,GSW,81,0.495,9.3,32.8,0.109,0.5022,11.34,30.44,0.2242

## Scratch Work Graveyard

Processing to merge datasets graveyard

In [ ]:
#tried self-merging on game_id, but this is only applicable if in different columns
#df1 = df1.merge(
#            right=df1[opp_pull_cols],
#            left_on=["game_id", "team"],
#            right_on=["game_id", "opp"],
#            suffixes=[None, "_opp"],
#        )

In [ ]:
#tried to use drop_duplicates method but can only keep first or last
#df.drop_duplicates(subset=['game_id'], keep='second')

Rolling average graveyard

In [ ]:
#found online, talks about rolling average based on multiple columns, never tried
#df.loc[:, 'value_sma_10'] = df.groupby(by='object')[['object', 'period']].rolling(window=10, min_periods=1, on='period').mean().reset_index(level='object')['value']

In [453]:
#found online, got it to work, but not quite applicable to this situation
#span = 5
#sma = d2.rolling(window=span, min_periods=span).mean()[:span]
#rest = d2[span:]
#pd.concat([sma, rest]).ewm(span=span, adjust=False).mean()

In [452]:
#didn't work - ValueError: cannot reindex from a duplicate axis
#d2['eFg_rolling'] = d2.groupby(['team_season','game_num'])['eFg'].rolling(10).mean().droplevel(level=[0])

In [451]:
#df1 = d.copy()
#df1

In [371]:
#df1 = d.groupby(['team_season','game_num']).rolling(5)['eFg'].mean().reset_index(drop=True)

In [450]:
#df1['pace_rolling'] = d.groupby(['team_season','game_num'])[5:,'pace'].transform(lambda x: x.rolling(10, 10).mean())